## Reading the JSON

source_data.json has clean normalized data used as the source of the matching.

We need to load it and then we want to make it a pandas DataFrame, as it will make much easier all future data transaction. This is a fixed cost we must pay once for running all the functions.

In [1]:
import json
from pprint import pprint

def extract_source_data(source_file):
    ''' Form a list of dictionaries from a file with a json doc per line''' 
    source_data = []
    with open(source_file) as f:
        for line in f:
            source_data.append(json.loads(line))
    return source_data

source_data = extract_source_data("source_data.json")
assert(len(source_data) == 11231)
pprint(source_data[:2])

[{'doctor': {'first_name': 'Dean',
             'last_name': 'Israel',
             'npi': '85103080143784778415'},
  'practices': [{'city': 'Port Demetris',
                 'lat': '-79.8757664338564',
                 'lon': '84.31253504872467',
                 'state': 'LA',
                 'street': '271 Annabelle Fort',
                 'street_2': 'Apt. 404',
                 'zip': '53549'}]},
 {'doctor': {'first_name': 'Quinton',
             'last_name': 'Mollie',
             'npi': '36233383542350521233'},
  'practices': [{'city': 'Nealville',
                 'lat': '81.37417480720865',
                 'lon': '-95.33450729432164',
                 'state': 'OR',
                 'street': '8496 Kennedi Inlet',
                 'street_2': 'Suite 815',
                 'zip': '52665-6811'},
                {'city': 'Rashadborough',
                 'lat': '69.84837521604314',
                 'lon': '87.36942972635728',
                 'state': 'UT',
                 'street': '29483 Nader Wall',
                 'street_2': 'Apt. 748',
                 'zip': '46006-3437'},
                {'city': 'South Daronland',
                 'lat': '84.90377842497296',
                 'lon': '177.28706015725533',
                 'state': 'AK',
                 'street': '2122 Wintheiser Valleys',
                 'street_2': 'Suite 855',
                 'zip': '99372'}]}]

### Unwinding the json

We want to unwind the practices in order to:

- Look for number of doctors from match_file.csv in which first name, last name and full adress match with the source_data.
- Look for number of practices from match_file.csv in which the full adress match with the source_data.

In [2]:
import pandas as pd
from pandas.io.json import json_normalize

def transform_source_data(source_data):
    '''Form a DataFrame from a list of dictionaries. 
    Rename columns to follow name conventions as the csv'''
    fields_to_unwind = ["practices"]
    not_unwinded_fields_path = [["doctor", "first_name"], 
                           ["doctor", "last_name"], 
                           ["doctor", "npi"]]
    not_unwinded_naming_map = {'doctor.first_name':'first_name', 
                               'doctor.last_name':'last_name',
                               'doctor.npi':'npi'}
    return json_normalize(source_data, 
                         fields_to_unwind, 
                         not_unwinded_fields_path).rename(
                             columns = not_unwinded_naming_map)

source_unwinded_df = transform_source_data(source_data)
assert(source_unwinded_df.shape == (22443, 10))
source_unwinded_df

,city,lat,lon,state,street,street_2,zip,npi,first_name,last_name
0,Port Demetris,-79.8757664338564,84.31253504872467,LA,271 Annabelle Fort,Apt. 404,53549,85103080143784778415,Dean,Israel
1,Nealville,81.37417480720865,-95.33450729432164,OR,8496 Kennedi Inlet,Suite 815,52665-6811,36233383542350521233,Quinton,Mollie
2,Rashadborough,69.84837521604314,87.36942972635728,UT,29483 Nader Wall,Apt. 748,46006-3437,36233383542350521233,Quinton,Mollie
3,South Daronland,84.90377842497296,177.28706015725533,AK,2122 Wintheiser Valleys,Suite 855,99372,36233383542350521233,Quinton,Mollie
4,West Lonnieberg,52.12502086274685,109.12414094328233,GA,210 Walsh Island,Suite 839,59104,68951826121607537145,Vincent,Abbie
5,Port Angieborough,89.41473074638557,-38.22151510102702,KY,460 Ortiz Points,Suite 609,60776-9928,68951826121607537145,Vincent,Abbie
6,Nyasiaburgh,0.7514069044332956,93.56993517086102,NH,13810 Pfannerstill Pike,Apt. 165,71167-1710,68951826121607537145,Vincent,Abbie
7,Grantborough,78.53231427000821,12.229188372184922,MN,1262 O'Keefe Ford,Apt. 790,39283,92442805782715742535,Gerardo,Piper
8,East Ozella,25.541057391873352,-32.342152333557465,PA,591 Gretchen Fields,Apt. 523,15472,92442805782715742535,Gerardo,Piper
9,New Fredy,-4.541598251928605,-41.46795232079714,IL,98764 Mante Trafficway,Suite 356,43570,83029151715578341587,Dean,Francesco
10,D'Amoreview,34.926103897363646,89.45264216496582,DE,43586 Roberto Harbor,Apt. 875,37340,83029151715578341587,Dean,Francesco
11,Lake Sheila,67.8952178905721,-71.54982356539455,AZ,729 Reuben Stream,Apt. 314,85355,18233577393219566041,Marshall,Cole
12,Keelingstad,-84.7669879597025,134.0653096213187,AL,59944 Adaline Harbor,Apt. 862,94189-5965,18233577393219566041,Marshall,Cole
13,South Vesta,-80.29587184932748,-156.78993611303167,IA,920 Hester Drive,Apt. 759,86170-5877,18233577393219566041,Marshall,Cole
14,North Daija,-5.6687886642665575,-78.53360129963642,DE,36175 Amina Mount,Apt. 256,30997-4476,78792788275411915642,Lawson,Lilliana
15,West Calistaside,-58.29709418783973,-90.33104012263043,ND,45963 Karli Square,Apt. 942,53565,50391514247237749255,Coty,Brad
16,South Breanahaven,35.61319092049271,-40.85256575227882,NY,88315 Hilma Rapid,Suite 795,40956-7199,50391514247237749255,Coty,Brad
17,Turcotteborough,-26.725359700401064,147.06704213574403,ME,46952 Purdy Greens,Suite 133,21329-5225,50391514247237749255,Coty,Brad
18,West Penelope,-26.051512799700845,-142.5655398712161,OK,441 Marge Turnpike,Apt. 734,81096-8100,10032670447666263763,Billy,Gennaro
19,Streichchester,14.435512034467493,-17.361548051772843,AZ,91801 Jamel Port,Apt. 482,58023,36556623055822736995,Deion,Mae
20,Macejkovicborough,30.162134795190568,-90.50020614602697,IA,570 Terrence Estate,Suite 470,98042,02861119266722247430,Zena,Deondre
21,Fernchester,83.27744784461902,-7.588193564781278,ID,727 Jamir Union,Apt. 589,48130-0483,52535882133589110715,Dallin,Madyson
22,North Charles,8.386214668564563,-112.25443174905242,NM,4207 Schinner Views,Suite 104,20624,52535882133589110715,Dallin,Madyson
23,Pansymouth,-0.4096685064945831,25.263779569626422,WI,23643 Laila Corner,Suite 534,91895-5133,63048319452018546857,Emelia,Dahlia
24,Anastasiachester,72.21374078359321,-98.2078551359897,NM,8026 Murphy Drive,Suite 519,70132-5752,63048319452018546857,Emelia,Dahlia
25,West Stefaniehaven,58.249231574415404,-162.223393234025,SD,14555 McLaughlin Summit,Apt. 748,31900-8194,63048319452018546857,Emelia,Dahlia
26,Kaylahchester,67.03323194744917,49.89908125056172,VA,689 Herman Parkways,Apt. 233,16158-8468,87766177950596441331,Clyde,Mayra
27,Lake Ransom,-63.897691603348164,-24.52191742362797,NV,3457 Zack Square,Apt. 773,16793-3997,87766177950596441331,Clyde,Mayra
28,New Laurianne,-63.82884564326444,116.43600140040883,WI,70057 O'Keefe Roads,Suite 240,20683,12489887534072365547,Dannie,Aimee
29,Hudsonburgh,-69.29809132686029,-45.748012666858955,TX,271 Odell Turnpike,Suite 657,71491,12489887534072365547,Dannie,Aimee
...,...,...,...,...,...,...,...,...,...,...
22413,South Cullenchester,12.631159070844816,75.45447028291224,SC,432 Lexie Groves,Suite 521,45748-7436,54703704821828676767,Cesar,Bailee
22414,West Ewaldfort,-25.603308779132135,-38.0461504637735,LA,8366 DuBuque Key,Suite 546,55067,52586272052413404321,Josie,Myrl
22415,Mohrbury,62.64373596892514,85.08571494725044,ME,8324 Sabryna Crossing,Apt. 811,26760,52586272052413404321,Josie,Myrl
22416,East Madalynmouth,89.81853196623294,-87.60072329542766,AL,344 Gerlach Branch,Apt. 435,83410-8224,52586272052413404321,Josie,Myrl
22417,Port Rebecahaven,-33.26699639713477,43.86540422775258,OK,408 Edison Manors,Suite 603,30527-7528,51157506582703742741,Shania,Kaleigh
22418,East Norrismouth,29.46565683323155,-175.20002511445128,WA,401 Blanda Fort,Suite 796,59967,68125474664901872227,Sheridan,Domenica
22419,Lake Javonfort,23.843695138013558,-40.560638844743806,KS,19799 Elenora Pine,Apt. 216,70327-6161,68125474664901872227,Sheridan,Domenica
22420,Schoenside,-15.177036814470398,7.975215023389609,NE,3025 Yundt Extension,Apt. 344,50100,68125474664901872227,Sheridan,Domenica
22421,New Ardith,-35.39690712940211,-70.11505860676358,NM,879 Hazle Terrace,Suite 251,86531,11653686656447570414,Yessenia,Gaetano
22422,Sandrineville,76.74807915691656,-62.38967353104991,NH,25097 Terry Crossroad,Apt. 724,27752,11653686656447570414,Yessenia,Gaetano
22423,East Jailyn,-50.46934133519033,169.64362150154523,KS,14733 Lulu River,Apt. 313,29697,11653686656447570414,Yessenia,Gaetano
22424,Eddtown,89.5005906229525,-169.49917729635942,MN,61665 Dickens Squares,Suite 144,50658,37286807935421536604,Kitty,Velma
22425,Port Mariettaside,17.39832400669364,145.95265422300474,CT,815 Daren Garden,Suite 835,46639,84958780385529716247,August,Jeramie
22426,New Sam,1.4181278917870515,-9.43650395687854,NJ,51739 D'Amore Run,Apt. 745,63961,84958780385529716247,August,Jeramie
22427,East Arianeside,51.22778248610666,-139.79933501048328,AL,305 Bechtelar Square,Suite 836,82953-3596,18237532451153392571,Leopoldo,Dominic
22428,Tabithafurt,39.222583742168496,36.687829945461345,VA,6676 Chelsey Glens,Apt. 360,69161,73291346948336413140,Brown,Meggie
22429,Wolfland,-44.16782173630302,-83.51579584549863,IL,41373 Carter Canyon,Suite 933,12512,12745874446123256447,Whitney,Luis
22430,Schultzberg,-76.13525963165453,147.58867451411476,MD,9511 Hoeger Estate,Apt. 826,20548,52605316565885025487,Maiya,Ryleigh
22431,Schusterville,-47.33489160195421,-111.93457928181452,AK,43806 Carlo Grove,Apt. 223,72160-9968,52605316565885025487,Maiya,Ryleigh
22432,New Odessa,-62.056670213939235,138.37172701416011,FL,347 Kautzer Garden,Apt. 716,50542-2678,52605316565885025487,Maiya,Ryleigh
22433,Lynchchester,57.55881162285843,27.373901352588206,RI,111 Hirthe Point,Apt. 568,28942-3270,67073887994871626664,Bulah,Skyla
22434,Wolffville,-66.26779946904054,-43.29011583575149,MA,25675 Raymond Street,Suite 719,63492,67073887994871626664,Bulah,Skyla
22435,Oberbrunnerhaven,40.63791681315723,-114.71021925114668,MS,798 Kyleigh Ways,Suite 477,51837-6404,79538487122854242275,Nash,Coby
22436,Hoppechester,-34.49096254353015,89.86985820849821,SD,9363 Clotilde Underpass,Suite 397,31264-5271,79538487122854242275,Nash,Coby
22437,South Sylvia,-62.43779002527948,-19.343133766940866,MT,2990 Mona Walks,Apt. 121,43594-4979,79538487122854242275,Nash,Coby
22438,Tyriquehaven,-67.173846981953,79.05983728314368,NJ,671 Weimann Brook,Apt. 302,17485,31846358102754904675,Alan,Neil
22439,Madgeside,-71.17771494413563,25.678150110189904,IL,564 Gleason Station,Suite 345,38864-9185,31846358102754904675,Alan,Neil
22440,New Ward,-11.992720139724739,10.522384804094685,IL,993 Jayson Shoals,Suite 434,96675-6018,69445612947443312384,Arlo,Blake
22441,Port Horace,-45.409239846947585,66.80786910622899,NM,459 Martina Forks,Suite 774,80388-1974,69445612947443312384,Arlo,Blake
22442,South Gretchen,-43.66522612272201,-66.05146610935937,OR,18943 Jenkins Meadows,Suite 438,28673-3102,97541207981689217839,Clare,Jensen

We can also find a slightly more complicated version that is more generic, allowing us specify several fields at once to unwind

In [3]:
import pandas as pd
from pandas.io.json import json_normalize

def get_formatted_not_unwinded_fields(source_series, fields_to_unwind):
    '''Form a list of lists with the path to the fields inside fields_to_unwind,
    and a dict mapping this path to the subfields 
    
    These are needed in order to use the json_normalize in pandas.io.json.
    
    Example: {"doctor": {"last_name": "Doe", "first_name": "John"}} will return
    -not_unwinded_fields_path = [["doctor", "first_name"], ["doctor", "last_name"]]
    -not_unwinded_naming_map = {"doctor.first_name": "first_name", "doctor.last_name": "last_name"}'''
    not_unwinded_fields_path = []
    not_unwinded_naming_map = {}
    for field in source_series:
        if field not in fields_to_unwind:
            for subfield in source_series[field]:
                not_unwinded_fields_path.append([field, subfield])
                not_unwinded_naming_map["{}.{}".format(field, subfield)] = subfield
    return not_unwinded_fields_path, not_unwinded_naming_map

def transform_source_data(source_data, fields_to_unwind):
    '''Form a DataFrame from a list of dictionaries. 
    Rename columns to follow name conventions as the csv'''
    if len(source_data) != 0:
        not_unwinded_fields_path, not_unwinded_naming_map = \
            get_formatted_not_unwinded_fields(source_data[0], fields_to_unwind)
    else:
        return None
    return json_normalize(source_data, 
                         fields_to_unwind, 
                         not_unwinded_fields_path).rename(
                             columns = not_unwinded_naming_map)

source_unwinded_df = transform_source_data(source_data, fields_to_unwind=["practices"])
assert(source_unwinded_df.shape == (22443, 10))
source_unwinded_df

,city,lat,lon,state,street,street_2,zip,npi,first_name,last_name
0,Port Demetris,-79.8757664338564,84.31253504872467,LA,271 Annabelle Fort,Apt. 404,53549,85103080143784778415,Dean,Israel
1,Nealville,81.37417480720865,-95.33450729432164,OR,8496 Kennedi Inlet,Suite 815,52665-6811,36233383542350521233,Quinton,Mollie
2,Rashadborough,69.84837521604314,87.36942972635728,UT,29483 Nader Wall,Apt. 748,46006-3437,36233383542350521233,Quinton,Mollie
3,South Daronland,84.90377842497296,177.28706015725533,AK,2122 Wintheiser Valleys,Suite 855,99372,36233383542350521233,Quinton,Mollie
4,West Lonnieberg,52.12502086274685,109.12414094328233,GA,210 Walsh Island,Suite 839,59104,68951826121607537145,Vincent,Abbie
5,Port Angieborough,89.41473074638557,-38.22151510102702,KY,460 Ortiz Points,Suite 609,60776-9928,68951826121607537145,Vincent,Abbie
6,Nyasiaburgh,0.7514069044332956,93.56993517086102,NH,13810 Pfannerstill Pike,Apt. 165,71167-1710,68951826121607537145,Vincent,Abbie
7,Grantborough,78.53231427000821,12.229188372184922,MN,1262 O'Keefe Ford,Apt. 790,39283,92442805782715742535,Gerardo,Piper
8,East Ozella,25.541057391873352,-32.342152333557465,PA,591 Gretchen Fields,Apt. 523,15472,92442805782715742535,Gerardo,Piper
9,New Fredy,-4.541598251928605,-41.46795232079714,IL,98764 Mante Trafficway,Suite 356,43570,83029151715578341587,Dean,Francesco
10,D'Amoreview,34.926103897363646,89.45264216496582,DE,43586 Roberto Harbor,Apt. 875,37340,83029151715578341587,Dean,Francesco
11,Lake Sheila,67.8952178905721,-71.54982356539455,AZ,729 Reuben Stream,Apt. 314,85355,18233577393219566041,Marshall,Cole
12,Keelingstad,-84.7669879597025,134.0653096213187,AL,59944 Adaline Harbor,Apt. 862,94189-5965,18233577393219566041,Marshall,Cole
13,South Vesta,-80.29587184932748,-156.78993611303167,IA,920 Hester Drive,Apt. 759,86170-5877,18233577393219566041,Marshall,Cole
14,North Daija,-5.6687886642665575,-78.53360129963642,DE,36175 Amina Mount,Apt. 256,30997-4476,78792788275411915642,Lawson,Lilliana
15,West Calistaside,-58.29709418783973,-90.33104012263043,ND,45963 Karli Square,Apt. 942,53565,50391514247237749255,Coty,Brad
16,South Breanahaven,35.61319092049271,-40.85256575227882,NY,88315 Hilma Rapid,Suite 795,40956-7199,50391514247237749255,Coty,Brad
17,Turcotteborough,-26.725359700401064,147.06704213574403,ME,46952 Purdy Greens,Suite 133,21329-5225,50391514247237749255,Coty,Brad
18,West Penelope,-26.051512799700845,-142.5655398712161,OK,441 Marge Turnpike,Apt. 734,81096-8100,10032670447666263763,Billy,Gennaro
19,Streichchester,14.435512034467493,-17.361548051772843,AZ,91801 Jamel Port,Apt. 482,58023,36556623055822736995,Deion,Mae
20,Macejkovicborough,30.162134795190568,-90.50020614602697,IA,570 Terrence Estate,Suite 470,98042,02861119266722247430,Zena,Deondre
21,Fernchester,83.27744784461902,-7.588193564781278,ID,727 Jamir Union,Apt. 589,48130-0483,52535882133589110715,Dallin,Madyson
22,North Charles,8.386214668564563,-112.25443174905242,NM,4207 Schinner Views,Suite 104,20624,52535882133589110715,Dallin,Madyson
23,Pansymouth,-0.4096685064945831,25.263779569626422,WI,23643 Laila Corner,Suite 534,91895-5133,63048319452018546857,Emelia,Dahlia
24,Anastasiachester,72.21374078359321,-98.2078551359897,NM,8026 Murphy Drive,Suite 519,70132-5752,63048319452018546857,Emelia,Dahlia
25,West Stefaniehaven,58.249231574415404,-162.223393234025,SD,14555 McLaughlin Summit,Apt. 748,31900-8194,63048319452018546857,Emelia,Dahlia
26,Kaylahchester,67.03323194744917,49.89908125056172,VA,689 Herman Parkways,Apt. 233,16158-8468,87766177950596441331,Clyde,Mayra
27,Lake Ransom,-63.897691603348164,-24.52191742362797,NV,3457 Zack Square,Apt. 773,16793-3997,87766177950596441331,Clyde,Mayra
28,New Laurianne,-63.82884564326444,116.43600140040883,WI,70057 O'Keefe Roads,Suite 240,20683,12489887534072365547,Dannie,Aimee
29,Hudsonburgh,-69.29809132686029,-45.748012666858955,TX,271 Odell Turnpike,Suite 657,71491,12489887534072365547,Dannie,Aimee
...,...,...,...,...,...,...,...,...,...,...
22413,South Cullenchester,12.631159070844816,75.45447028291224,SC,432 Lexie Groves,Suite 521,45748-7436,54703704821828676767,Cesar,Bailee
22414,West Ewaldfort,-25.603308779132135,-38.0461504637735,LA,8366 DuBuque Key,Suite 546,55067,52586272052413404321,Josie,Myrl
22415,Mohrbury,62.64373596892514,85.08571494725044,ME,8324 Sabryna Crossing,Apt. 811,26760,52586272052413404321,Josie,Myrl
22416,East Madalynmouth,89.81853196623294,-87.60072329542766,AL,344 Gerlach Branch,Apt. 435,83410-8224,52586272052413404321,Josie,Myrl
22417,Port Rebecahaven,-33.26699639713477,43.86540422775258,OK,408 Edison Manors,Suite 603,30527-7528,51157506582703742741,Shania,Kaleigh
22418,East Norrismouth,29.46565683323155,-175.20002511445128,WA,401 Blanda Fort,Suite 796,59967,68125474664901872227,Sheridan,Domenica
22419,Lake Javonfort,23.843695138013558,-40.560638844743806,KS,19799 Elenora Pine,Apt. 216,70327-6161,68125474664901872227,Sheridan,Domenica
22420,Schoenside,-15.177036814470398,7.975215023389609,NE,3025 Yundt Extension,Apt. 344,50100,68125474664901872227,Sheridan,Domenica
22421,New Ardith,-35.39690712940211,-70.11505860676358,NM,879 Hazle Terrace,Suite 251,86531,11653686656447570414,Yessenia,Gaetano
22422,Sandrineville,76.74807915691656,-62.38967353104991,NH,25097 Terry Crossroad,Apt. 724,27752,11653686656447570414,Yessenia,Gaetano
22423,East Jailyn,-50.46934133519033,169.64362150154523,KS,14733 Lulu River,Apt. 313,29697,11653686656447570414,Yessenia,Gaetano
22424,Eddtown,89.5005906229525,-169.49917729635942,MN,61665 Dickens Squares,Suite 144,50658,37286807935421536604,Kitty,Velma
22425,Port Mariettaside,17.39832400669364,145.95265422300474,CT,815 Daren Garden,Suite 835,46639,84958780385529716247,August,Jeramie
22426,New Sam,1.4181278917870515,-9.43650395687854,NJ,51739 D'Amore Run,Apt. 745,63961,84958780385529716247,August,Jeramie
22427,East Arianeside,51.22778248610666,-139.79933501048328,AL,305 Bechtelar Square,Suite 836,82953-3596,18237532451153392571,Leopoldo,Dominic
22428,Tabithafurt,39.222583742168496,36.687829945461345,VA,6676 Chelsey Glens,Apt. 360,69161,73291346948336413140,Brown,Meggie
22429,Wolfland,-44.16782173630302,-83.51579584549863,IL,41373 Carter Canyon,Suite 933,12512,12745874446123256447,Whitney,Luis
22430,Schultzberg,-76.13525963165453,147.58867451411476,MD,9511 Hoeger Estate,Apt. 826,20548,52605316565885025487,Maiya,Ryleigh
22431,Schusterville,-47.33489160195421,-111.93457928181452,AK,43806 Carlo Grove,Apt. 223,72160-9968,52605316565885025487,Maiya,Ryleigh
22432,New Odessa,-62.056670213939235,138.37172701416011,FL,347 Kautzer Garden,Apt. 716,50542-2678,52605316565885025487,Maiya,Ryleigh
22433,Lynchchester,57.55881162285843,27.373901352588206,RI,111 Hirthe Point,Apt. 568,28942-3270,67073887994871626664,Bulah,Skyla
22434,Wolffville,-66.26779946904054,-43.29011583575149,MA,25675 Raymond Street,Suite 719,63492,67073887994871626664,Bulah,Skyla
22435,Oberbrunnerhaven,40.63791681315723,-114.71021925114668,MS,798 Kyleigh Ways,Suite 477,51837-6404,79538487122854242275,Nash,Coby
22436,Hoppechester,-34.49096254353015,89.86985820849821,SD,9363 Clotilde Underpass,Suite 397,31264-5271,79538487122854242275,Nash,Coby
22437,South Sylvia,-62.43779002527948,-19.343133766940866,MT,2990 Mona Walks,Apt. 121,43594-4979,79538487122854242275,Nash,Coby
22438,Tyriquehaven,-67.173846981953,79.05983728314368,NJ,671 Weimann Brook,Apt. 302,17485,31846358102754904675,Alan,Neil
22439,Madgeside,-71.17771494413563,25.678150110189904,IL,564 Gleason Station,Suite 345,38864-9185,31846358102754904675,Alan,Neil
22440,New Ward,-11.992720139724739,10.522384804094685,IL,993 Jayson Shoals,Suite 434,96675-6018,69445612947443312384,Arlo,Blake
22441,Port Horace,-45.409239846947585,66.80786910622899,NM,459 Martina Forks,Suite 774,80388-1974,69445612947443312384,Arlo,Blake
22442,South Gretchen,-43.66522612272201,-66.05146610935937,OR,18943 Jenkins Meadows,Suite 438,28673-3102,97541207981689217839,Clare,Jensen

### Without unwinding

In case we want to look for number of doctors from match_file.csv in which the npi matches with the source_data, we canot have the unwinding in place for practices.

If we use the unwinded dataframe and N is the length of the list of practices for a doctor where we match the npi, we would have N matches. 

In other usecases not part of the assignment, we have to be careful when using the unwinded version to not repeat the doctors.

In [4]:
source_not_unwinded_df = json_normalize(source_data)

source_not_unwinded_df.columns = ['first_name', 'last_name', 'npi', 'practices']

source_not_unwinded_df

,first_name,last_name,npi,practices
0,Dean,Israel,85103080143784778415,"[{'city': 'Port Demetris', 'lon': '84.31253504..."
1,Quinton,Mollie,36233383542350521233,"[{'city': 'Nealville', 'lon': '-95.33450729432..."
2,Vincent,Abbie,68951826121607537145,"[{'city': 'West Lonnieberg', 'lon': '109.12414..."
3,Gerardo,Piper,92442805782715742535,"[{'city': 'Grantborough', 'lon': '12.229188372..."
4,Dean,Francesco,83029151715578341587,"[{'city': 'New Fredy', 'lon': '-41.46795232079..."
5,Marshall,Cole,18233577393219566041,"[{'city': 'Lake Sheila', 'lon': '-71.549823565..."
6,Lawson,Lilliana,78792788275411915642,"[{'city': 'North Daija', 'lon': '-78.533601299..."
7,Coty,Brad,50391514247237749255,"[{'city': 'West Calistaside', 'lon': '-90.3310..."
8,Billy,Gennaro,10032670447666263763,"[{'city': 'West Penelope', 'lon': '-142.565539..."
9,Deion,Mae,36556623055822736995,"[{'city': 'Streichchester', 'lon': '-17.361548..."
10,Zena,Deondre,02861119266722247430,"[{'city': 'Macejkovicborough', 'lon': '-90.500..."
11,Dallin,Madyson,52535882133589110715,"[{'city': 'Fernchester', 'lon': '-7.5881935647..."
12,Emelia,Dahlia,63048319452018546857,"[{'city': 'Pansymouth', 'lon': '25.26377956962..."
13,Clyde,Mayra,87766177950596441331,"[{'city': 'Kaylahchester', 'lon': '49.89908125..."
14,Dannie,Aimee,12489887534072365547,"[{'city': 'New Laurianne', 'lon': '116.4360014..."
15,Martine,Kiana,23583155472740817761,"[{'city': 'Jacquesville', 'lon': '105.33018901..."
16,Leatha,Freida,33162918725434354575,"[{'city': 'Valeriemouth', 'lon': '19.882149127..."
17,Justyn,Abbie,78362387662864903554,"[{'city': 'Hortensetown', 'lon': '27.518097739..."
18,Trever,Florencio,66493161023332634050,"[{'city': 'Hamillhaven', 'lon': '-43.163053865..."
19,Zoila,Gillian,24419704957549334014,"[{'city': 'Lake Shania', 'lon': '-166.90027730..."
20,Herta,Jeremy,35005052287178763631,"[{'city': 'Lake Kavontown', 'lon': '84.3327747..."
21,Rahsaan,Andrew,52531654649932861882,"[{'city': 'New Eliezer', 'lon': '-35.893389977..."
22,Donato,Assunta,69045183358539837470,"[{'city': 'North Durwardton', 'lon': '111.4013..."
23,Alison,Marguerite,23073193115632509846,"[{'city': 'South Rickiemouth', 'lon': '45.1157..."
24,Nona,German,84446415756341782880,"[{'city': 'Loweville', 'lon': '40.494184016152..."
25,Brain,Lamont,31167442866831223211,"[{'city': 'Generalport', 'lon': '122.787815868..."
26,Dallas,Addison,15824097234826712536,"[{'city': 'North Pietro', 'lon': '-163.3972820..."
27,Zakary,Alisa,48615383334662251587,"[{'city': 'Huelmouth', 'lon': '-65.32146520386..."
28,Lela,Helga,14183870164437438716,"[{'city': 'Liaside', 'lon': '-179.409882092524..."
29,Isabella,Margot,50628265194460258741,"[{'city': 'Skyetown', 'lon': '167.182888339573..."
...,...,...,...,...
11201,Ford,Angelina,97289891984667859066,"[{'city': 'Lynchmouth', 'lon': '122.5355938042..."
11202,Virgie,Jorge,50576258968369523160,"[{'city': 'South Noraton', 'lon': '173.5882574..."
11203,Carley,Robert,65293237204808172649,"[{'city': 'New Jewel', 'lon': '-64.68694813092..."
11204,Gay,Pauline,21475631140740262661,"[{'city': 'West Haroldland', 'lon': '167.06991..."
11205,Braxton,Deshaun,23082447513674783797,"[{'city': 'North Keyshawnport', 'lon': '42.100..."
11206,Laurine,Susan,53391868664236558025,"[{'city': 'New Ward', 'lon': '118.589707664169..."
11207,Margarita,Abdul,31826755176318909333,"[{'city': 'Kristaton', 'lon': '-166.7500357647..."
11208,Raquel,Willard,44943827535217353108,"[{'city': 'East Gunnar', 'lon': '56.8701158161..."
11209,Norbert,Kraig,38694922351628224543,"[{'city': 'Port Aileenland', 'lon': '171.56818..."
11210,Bryon,Bryce,45351124443073625143,"[{'city': 'East Harrison', 'lon': '-24.0210261..."
11211,Stevie,Sienna,12346292525117756558,"[{'city': 'New Friedrichmouth', 'lon': '139.33..."
11212,Nolan,Jeffrey,53534201412731144562,"[{'city': 'New Adalberto', 'lon': '54.45194326..."
11213,Julianne,Geoffrey,16775256723377963285,"[{'city': 'South Elsiemouth', 'lon': '-170.939..."
11214,Erika,Halie,10716464554476538689,"[{'city': 'Kubmouth', 'lon': '-111.26132164649..."
11215,Cesar,Bailee,54703704821828676767,"[{'city': 'Jamisonmouth', 'lon': '141.61953590..."
11216,Josie,Myrl,52586272052413404321,"[{'city': 'West Ewaldfort', 'lon': '-38.046150..."
11217,Shania,Kaleigh,51157506582703742741,"[{'city': 'Port Rebecahaven', 'lon': '43.86540..."
11218,Sheridan,Domenica,68125474664901872227,"[{'city': 'East Norrismouth', 'lon': '-175.200..."
11219,Yessenia,Gaetano,11653686656447570414,"[{'city': 'New Ardith', 'lon': '-70.1150586067..."
11220,Kitty,Velma,37286807935421536604,"[{'city': 'Eddtown', 'lon': '-169.499177296359..."
11221,August,Jeramie,84958780385529716247,"[{'city': 'Port Mariettaside', 'lon': '145.952..."
11222,Leopoldo,Dominic,18237532451153392571,"[{'city': 'East Arianeside', 'lon': '-139.7993..."
11223,Brown,Meggie,73291346948336413140,"[{'city': 'Tabithafurt', 'lon': '36.6878299454..."
11224,Whitney,Luis,12745874446123256447,"[{'city': 'Wolfland', 'lon': '-83.515795845498..."
11225,Maiya,Ryleigh,52605316565885025487,"[{'city': 'Schultzberg', 'lon': '147.588674514..."
11226,Bulah,Skyla,67073887994871626664,"[{'city': 'Lynchchester', 'lon': '27.373901352..."
11227,Nash,Coby,79538487122854242275,"[{'city': 'Oberbrunnerhaven', 'lon': '-114.710..."
11228,Alan,Neil,31846358102754904675,"[{'city': 'Tyriquehaven', 'lon': '79.059837283..."
11229,Arlo,Blake,69445612947443312384,"[{'city': 'New Ward', 'lon': '10.5223848040946..."
11230,Clare,Jensen,97541207981689217839,"[{'city': 'South Gretchen', 'lon': '-66.051466..."

## Reading the csv

match_file.csv contains raw source data that needs to be parsed and normalized

In [5]:
import pandas as pd

# match_file.csv: Raw source data that needs to be parsed and normalized.
raw_data_df = pd.read_csv("match_file.csv")

raw_data_df

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 glenda islands,suite 163,willport,nj,23453
1,Marshall,Cole,18233577393219566041,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
2,Lawson,Lilliana,78792788275411915642,36175 amina mount,apt. 256,north daija,de,30997-4476
3,Martine,Kiana,23583155472740817761,188 walsh flat,apt. 891,yasmeenstad,nv,83568
4,Leatha,Freida,NaN,43796 gutmann plains,suite 341,vonmouth,fl,10500
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN
6,Granville,Benton,17871640342222098849,95496 dare rue,suite 203,octaviastad,il,45294-0751
7,Brenda,Lenna,88137148807320232511,361 justyn meadow,suite 635,steuberhaven,la,71148-1931
8,Juliana,Benedict,NaN,798 katarina street,apt. 817,north florida,ri,10547-0556
9,Marjory,Ulices,13251241236387155567,5356 hane mountains,suite 254,elmiraborough,ny,80179-1235
10,Celia,Joany,53517451823105334497,NaN,NaN,NaN,NaN,NaN
11,Kathryn,Shany,18615056044429228990,817 hammes harbor,apt. 701,dickinsonview,ca,97730
12,Isabelle,Nils,41196810585374325420,590 cummings union,apt. 390,daphneeburgh,in,56970
13,Johnnie,Johnathon,NaN,541 nora hill,apt. 833,south erwinborough,ut,24212
14,Madaline,Shirley,34629375530320352466,62088 krajcik summit,apt. 534,kundechester,wa,30826-4983
15,Khalid,Crystel,82216555626836774716,89133 schoen ferry,apt. 830,richieland,sc,73060-3948
16,Heather,Tracy,75216887016624818206,NaN,NaN,NaN,NaN,NaN
17,Audra,Imogene,NaN,9228 rodriguez knolls,apt. 544,jonesside,in,20864
18,Montana,Dominic,48581605458856137841,622 reggie inlet,apt. 456,wunschhaven,co,73178
19,Justice,Jessy,55734468672668247847,75693 eliseo burgs,suite 102,wittingstad,hi,77848-1360
20,Maryjane,Sasha,53273831484766113262,8210 romaguera ridges,apt. 807,asiastad,id,41761-2593
21,Brice,Maximillian,58552116202772184856,779 macejkovic avenue,suite 917,dannychester,vt,43697
22,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN
23,Deborah,Jolie,72248738248131276601,2744 kirsten plaza,suite 148,zionburgh,tx,80760
24,Marjory,Harley,85666817362462284195,3238 freeman trail,suite 472,schustermouth,hi,66696-8707
25,Zita,Yasmin,57219924682871422273,2521 runolfsdottir station,apt. 283,east annetteville,md,62342-2411
26,Victoria,Kaleb,NaN,79341 destin springs,apt. 561,port norbertohaven,la,74019
27,Pascale,Ryder,75137145868784228122,NaN,NaN,NaN,NaN,NaN
28,Nella,Sheridan,63158792827720528132,4326 nitzsche plaza,apt. 445,west luther,nh,31477-1608
29,Albin,Yvette,60813239314886505555,81997 doug greens,apt. 932,north jayneland,co,41247-4100
...,...,...,...,...,...,...,...,...
1235,Art,Alejandrin,78791823677627337226,NaN,NaN,NaN,NaN,NaN
1236,Tierra,Quinn,01734158001471915148,82378 amanda point,suite 944,new samanta,tx,98808
1237,Shania,Alice,26851680110146908993,9576 caroline hill,suite 974,west chris,az,94795-1744
1238,Aisha,Dortha,NaN,9692 michale knoll,suite 862,reyberg,ky,11438
1239,Geraldine,Junior,16812475474743167993,29188 turner flats,apt. 413,hayesmouth,sc,47052
1240,Holden,Leon,85231883333620805644,NaN,NaN,NaN,NaN,NaN
1241,Tyra,Benedict,15666128412219616349,2159 muller road,apt. 954,stefanieland,tx,16290
1242,Wade,Geo,NaN,73224 brycen crest,apt. 797,russelland,ut,63918-5609
1243,Oscar,Mohammad,72569943054714521155,971 runolfsson views,suite 648,north lavonne,ne,26071-3426
1244,Geovanni,Coby,67022257323561577850,862 ernest haven,suite 776,parisianland,ak,22823
1245,Trycia,Gerald,87852185438622118572,NaN,NaN,NaN,NaN,NaN
1246,Payton,Briana,67927006875389289539,4701 kasey ports,suite 522,lutherburgh,sd,30863
1247,Octavia,Alessandro,NaN,9157 wolf drives,apt. 139,new dustinville,mi,87034
1248,Keven,Rex,20835255763874961451,7286 keebler centers,suite 964,kirstenside,sc,54546-3727
1249,Jonathon,Carter,41477047772454684144,26567 schimmel springs,apt. 352,kassulkeview,tx,91519
1250,Eden,Bonnie,90299473567815437531,855 daniel inlet,apt. 589,gottliebville,az,56150-0192
1251,Faustino,Kaylee,NaN,NaN,NaN,NaN,NaN,NaN
1252,Reuben,Arne,63803857220464706613,218 glover parkways,suite 977,south uriahborough,ct,50294
1253,Einar,Missouri,16678380905253577683,63186 herzog pike,suite 405,south merlport,oh,64897-6034
1254,Reta,Daniela,28406129481424315728,65647 tromp hollow,apt. 871,new betty,ks,74662
1255,Reymundo,Tiara,26886272452725577492,1600 wilderman flat,apt. 555,new lesterborough,ne,42728
1256,Mara,Hermina,NaN,6086 lila loop,suite 348,schaefermouth,ga,46278-5364
1257,Clarissa,Felicity,58626307266823047332,NaN,NaN,NaN,NaN,NaN
1258,Gavin,Rita,88336286361567162510,356 florencio fort,suite 295,abagailburgh,mo,99840
1259,Stanford,Reece,13481236896147722710,325 darrel road,suite 108,north guadalupe,mt,89063-3313
1260,Zackery,Gillian,11240664612428757450,86907 metz gateway,apt. 469,pourosfurt,tx,47912-8489
1261,Maye,Lucie,NaN,839 howe field,suite 743,north jalonmouth,ky,56213-6886
1262,Nolan,Jeffrey,53534201412731144562,452 unique curve,apt. 158,new adalberto,la,18997
1263,Cesar,Bailee,54703704821828676767,NaN,NaN,NaN,NaN,NaN
1264,Whitney,Luis,12745874446123256447,41373 carter canyon,suite 933,wolfland,il,12512

We can see that there are values that are NaN, so we need to be careful.

In addition, some string fields don't have the appropriate capitalization. Let's fix that.

In [6]:
def transform_match_file(df, fields_to_title_case, fields_to_upper_case):
    '''Change strings of certain DataFrame columns to title case and upper case'''
    for field in fields_to_upper_case:
        df[field] = df[field].apply(lambda x: x.title() if isinstance(x, str) else x)
        
    for field in fields_to_title_case:
        df[field] = df[field].apply(lambda x: x.upper() if isinstance(x, str) else x)    


fields_to_title_case = ["state"]
fields_to_upper_case = ["street", "street_2", "city"]

transform_match_file(raw_data_df, fields_to_title_case, fields_to_upper_case)

raw_data_df

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453
1,Marshall,Cole,18233577393219566041,59944 Adaline Harbor,Apt. 862,Keelingstad,AL,94189-5965
2,Lawson,Lilliana,78792788275411915642,36175 Amina Mount,Apt. 256,North Daija,DE,30997-4476
3,Martine,Kiana,23583155472740817761,188 Walsh Flat,Apt. 891,Yasmeenstad,NV,83568
4,Leatha,Freida,NaN,43796 Gutmann Plains,Suite 341,Vonmouth,FL,10500
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN
6,Granville,Benton,17871640342222098849,95496 Dare Rue,Suite 203,Octaviastad,IL,45294-0751
7,Brenda,Lenna,88137148807320232511,361 Justyn Meadow,Suite 635,Steuberhaven,LA,71148-1931
8,Juliana,Benedict,NaN,798 Katarina Street,Apt. 817,North Florida,RI,10547-0556
9,Marjory,Ulices,13251241236387155567,5356 Hane Mountains,Suite 254,Elmiraborough,NY,80179-1235
10,Celia,Joany,53517451823105334497,NaN,NaN,NaN,NaN,NaN
11,Kathryn,Shany,18615056044429228990,817 Hammes Harbor,Apt. 701,Dickinsonview,CA,97730
12,Isabelle,Nils,41196810585374325420,590 Cummings Union,Apt. 390,Daphneeburgh,IN,56970
13,Johnnie,Johnathon,NaN,541 Nora Hill,Apt. 833,South Erwinborough,UT,24212
14,Madaline,Shirley,34629375530320352466,62088 Krajcik Summit,Apt. 534,Kundechester,WA,30826-4983
15,Khalid,Crystel,82216555626836774716,89133 Schoen Ferry,Apt. 830,Richieland,SC,73060-3948
16,Heather,Tracy,75216887016624818206,NaN,NaN,NaN,NaN,NaN
17,Audra,Imogene,NaN,9228 Rodriguez Knolls,Apt. 544,Jonesside,IN,20864
18,Montana,Dominic,48581605458856137841,622 Reggie Inlet,Apt. 456,Wunschhaven,CO,73178
19,Justice,Jessy,55734468672668247847,75693 Eliseo Burgs,Suite 102,Wittingstad,HI,77848-1360
20,Maryjane,Sasha,53273831484766113262,8210 Romaguera Ridges,Apt. 807,Asiastad,ID,41761-2593
21,Brice,Maximillian,58552116202772184856,779 Macejkovic Avenue,Suite 917,Dannychester,VT,43697
22,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN
23,Deborah,Jolie,72248738248131276601,2744 Kirsten Plaza,Suite 148,Zionburgh,TX,80760
24,Marjory,Harley,85666817362462284195,3238 Freeman Trail,Suite 472,Schustermouth,HI,66696-8707
25,Zita,Yasmin,57219924682871422273,2521 Runolfsdottir Station,Apt. 283,East Annetteville,MD,62342-2411
26,Victoria,Kaleb,NaN,79341 Destin Springs,Apt. 561,Port Norbertohaven,LA,74019
27,Pascale,Ryder,75137145868784228122,NaN,NaN,NaN,NaN,NaN
28,Nella,Sheridan,63158792827720528132,4326 Nitzsche Plaza,Apt. 445,West Luther,NH,31477-1608
29,Albin,Yvette,60813239314886505555,81997 Doug Greens,Apt. 932,North Jayneland,CO,41247-4100
...,...,...,...,...,...,...,...,...
1235,Art,Alejandrin,78791823677627337226,NaN,NaN,NaN,NaN,NaN
1236,Tierra,Quinn,01734158001471915148,82378 Amanda Point,Suite 944,New Samanta,TX,98808
1237,Shania,Alice,26851680110146908993,9576 Caroline Hill,Suite 974,West Chris,AZ,94795-1744
1238,Aisha,Dortha,NaN,9692 Michale Knoll,Suite 862,Reyberg,KY,11438
1239,Geraldine,Junior,16812475474743167993,29188 Turner Flats,Apt. 413,Hayesmouth,SC,47052
1240,Holden,Leon,85231883333620805644,NaN,NaN,NaN,NaN,NaN
1241,Tyra,Benedict,15666128412219616349,2159 Muller Road,Apt. 954,Stefanieland,TX,16290
1242,Wade,Geo,NaN,73224 Brycen Crest,Apt. 797,Russelland,UT,63918-5609
1243,Oscar,Mohammad,72569943054714521155,971 Runolfsson Views,Suite 648,North Lavonne,NE,26071-3426
1244,Geovanni,Coby,67022257323561577850,862 Ernest Haven,Suite 776,Parisianland,AK,22823
1245,Trycia,Gerald,87852185438622118572,NaN,NaN,NaN,NaN,NaN
1246,Payton,Briana,67927006875389289539,4701 Kasey Ports,Suite 522,Lutherburgh,SD,30863
1247,Octavia,Alessandro,NaN,9157 Wolf Drives,Apt. 139,New Dustinville,MI,87034
1248,Keven,Rex,20835255763874961451,7286 Keebler Centers,Suite 964,Kirstenside,SC,54546-3727
1249,Jonathon,Carter,41477047772454684144,26567 Schimmel Springs,Apt. 352,Kassulkeview,TX,91519
1250,Eden,Bonnie,90299473567815437531,855 Daniel Inlet,Apt. 589,Gottliebville,AZ,56150-0192
1251,Faustino,Kaylee,NaN,NaN,NaN,NaN,NaN,NaN
1252,Reuben,Arne,63803857220464706613,218 Glover Parkways,Suite 977,South Uriahborough,CT,50294
1253,Einar,Missouri,16678380905253577683,63186 Herzog Pike,Suite 405,South Merlport,OH,64897-6034
1254,Reta,Daniela,28406129481424315728,65647 Tromp Hollow,Apt. 871,New Betty,KS,74662
1255,Reymundo,Tiara,26886272452725577492,1600 Wilderman Flat,Apt. 555,New Lesterborough,NE,42728
1256,Mara,Hermina,NaN,6086 Lila Loop,Suite 348,Schaefermouth,GA,46278-5364
1257,Clarissa,Felicity,58626307266823047332,NaN,NaN,NaN,NaN,NaN
1258,Gavin,Rita,88336286361567162510,356 Florencio Fort,Suite 295,Abagailburgh,MO,99840
1259,Stanford,Reece,13481236896147722710,325 Darrel Road,Suite 108,North Guadalupe,MT,89063-3313
1260,Zackery,Gillian,11240664612428757450,86907 Metz Gateway,Apt. 469,Pourosfurt,TX,47912-8489
1261,Maye,Lucie,NaN,839 Howe Field,Suite 743,North Jalonmouth,KY,56213-6886
1262,Nolan,Jeffrey,53534201412731144562,452 Unique Curve,Apt. 158,New Adalberto,LA,18997
1263,Cesar,Bailee,54703704821828676767,NaN,NaN,NaN,NaN,NaN
1264,Whitney,Luis,12745874446123256447,41373 Carter Canyon,Suite 933,Wolfland,IL,12512

## Doctor Match by NPI

In [7]:
def df_merge_by_npi(left_df, right_df):
     return pd.merge(left_df, right_df, how="inner", on="npi")

def number_of_doctor_matches_by_npi(left_df, right_df):
    return df_merge_by_npi(left_df, right_df).shape[0]
    
print("Number of matches: {}".format(number_of_doctor_matches_by_npi(source_not_unwinded_df, raw_data_df)))

Number of matches: 864

In [8]:
import timeit
timeit.timeit('number_of_doctor_matches_by_npi(source_not_unwinded_df, raw_data_df)', setup="from __main__ import number_of_doctor_matches_by_npi, source_not_unwinded_df, raw_data_df", number=10)

0.05324934199961717

## Doctor Match by first name, last name and full adress

In [9]:
def df_merge_by_name_and_full_address(left_df, right_df):
    '''For a df by merging two dfs by name and full address'''
    return pd.merge(left_df, right_df, how="inner", 
                    on=["first_name", "last_name", "street", 
                        "street_2", "city", "state", "zip"])

def number_of_doctor_matches_by_name_and_full_address(left_df, right_df):
    '''Return the number of doctor matches by name and adress'''
    return df_merge_by_name_and_full_address(left_df, right_df).shape[0]


print("Number of matches: {}".format(number_of_doctor_matches_by_name_and_full_address(source_unwinded_df, raw_data_df)))

Number of matches: 912

In [10]:
import timeit
timeit.timeit('number_of_doctor_matches_by_name_and_full_address(source_unwinded_df, raw_data_df)', setup="from __main__ import number_of_doctor_matches_by_name_and_full_address, source_unwinded_df, raw_data_df", number=10)

0.24497802299993054

## Practice Match by full address

In [11]:
def df_merge_by_full_address(left_df, right_df):
     return pd.merge(left_df, right_df, how="inner", on=["street", "street_2", "city", "state", "zip"])

def number_of_practices_by_full_address(left_df, right_df):
    return df_merge_by_full_address(left_df, right_df).shape[0]
    
print("Number of matches: {}".format(number_of_practices_by_full_address(source_unwinded_df, raw_data_df)))

Number of matches: 912

In [12]:
import timeit
timeit.timeit('number_of_practices_by_full_address(source_unwinded_df, raw_data_df)', setup="from __main__ import number_of_practices_by_full_address, source_unwinded_df, raw_data_df", number=10)

0.23703593099980935

## Number of documents that could not be matched

The assumption is that the problem statement talks about the number of rows from the match_file.csv that could not be matched in source_data.json by none of the criteria above.

In [16]:
source_unwinded_df

,city,lat,lon,state,street,street_2,zip,npi,first_name,last_name
0,Port Demetris,-79.8757664338564,84.31253504872467,LA,271 Annabelle Fort,Apt. 404,53549,85103080143784778415,Dean,Israel
1,Nealville,81.37417480720865,-95.33450729432164,OR,8496 Kennedi Inlet,Suite 815,52665-6811,36233383542350521233,Quinton,Mollie
2,Rashadborough,69.84837521604314,87.36942972635728,UT,29483 Nader Wall,Apt. 748,46006-3437,36233383542350521233,Quinton,Mollie
3,South Daronland,84.90377842497296,177.28706015725533,AK,2122 Wintheiser Valleys,Suite 855,99372,36233383542350521233,Quinton,Mollie
4,West Lonnieberg,52.12502086274685,109.12414094328233,GA,210 Walsh Island,Suite 839,59104,68951826121607537145,Vincent,Abbie
5,Port Angieborough,89.41473074638557,-38.22151510102702,KY,460 Ortiz Points,Suite 609,60776-9928,68951826121607537145,Vincent,Abbie
6,Nyasiaburgh,0.7514069044332956,93.56993517086102,NH,13810 Pfannerstill Pike,Apt. 165,71167-1710,68951826121607537145,Vincent,Abbie
7,Grantborough,78.53231427000821,12.229188372184922,MN,1262 O'Keefe Ford,Apt. 790,39283,92442805782715742535,Gerardo,Piper
8,East Ozella,25.541057391873352,-32.342152333557465,PA,591 Gretchen Fields,Apt. 523,15472,92442805782715742535,Gerardo,Piper
9,New Fredy,-4.541598251928605,-41.46795232079714,IL,98764 Mante Trafficway,Suite 356,43570,83029151715578341587,Dean,Francesco
10,D'Amoreview,34.926103897363646,89.45264216496582,DE,43586 Roberto Harbor,Apt. 875,37340,83029151715578341587,Dean,Francesco
11,Lake Sheila,67.8952178905721,-71.54982356539455,AZ,729 Reuben Stream,Apt. 314,85355,18233577393219566041,Marshall,Cole
12,Keelingstad,-84.7669879597025,134.0653096213187,AL,59944 Adaline Harbor,Apt. 862,94189-5965,18233577393219566041,Marshall,Cole
13,South Vesta,-80.29587184932748,-156.78993611303167,IA,920 Hester Drive,Apt. 759,86170-5877,18233577393219566041,Marshall,Cole
14,North Daija,-5.6687886642665575,-78.53360129963642,DE,36175 Amina Mount,Apt. 256,30997-4476,78792788275411915642,Lawson,Lilliana
15,West Calistaside,-58.29709418783973,-90.33104012263043,ND,45963 Karli Square,Apt. 942,53565,50391514247237749255,Coty,Brad
16,South Breanahaven,35.61319092049271,-40.85256575227882,NY,88315 Hilma Rapid,Suite 795,40956-7199,50391514247237749255,Coty,Brad
17,Turcotteborough,-26.725359700401064,147.06704213574403,ME,46952 Purdy Greens,Suite 133,21329-5225,50391514247237749255,Coty,Brad
18,West Penelope,-26.051512799700845,-142.5655398712161,OK,441 Marge Turnpike,Apt. 734,81096-8100,10032670447666263763,Billy,Gennaro
19,Streichchester,14.435512034467493,-17.361548051772843,AZ,91801 Jamel Port,Apt. 482,58023,36556623055822736995,Deion,Mae
20,Macejkovicborough,30.162134795190568,-90.50020614602697,IA,570 Terrence Estate,Suite 470,98042,02861119266722247430,Zena,Deondre
21,Fernchester,83.27744784461902,-7.588193564781278,ID,727 Jamir Union,Apt. 589,48130-0483,52535882133589110715,Dallin,Madyson
22,North Charles,8.386214668564563,-112.25443174905242,NM,4207 Schinner Views,Suite 104,20624,52535882133589110715,Dallin,Madyson
23,Pansymouth,-0.4096685064945831,25.263779569626422,WI,23643 Laila Corner,Suite 534,91895-5133,63048319452018546857,Emelia,Dahlia
24,Anastasiachester,72.21374078359321,-98.2078551359897,NM,8026 Murphy Drive,Suite 519,70132-5752,63048319452018546857,Emelia,Dahlia
25,West Stefaniehaven,58.249231574415404,-162.223393234025,SD,14555 McLaughlin Summit,Apt. 748,31900-8194,63048319452018546857,Emelia,Dahlia
26,Kaylahchester,67.03323194744917,49.89908125056172,VA,689 Herman Parkways,Apt. 233,16158-8468,87766177950596441331,Clyde,Mayra
27,Lake Ransom,-63.897691603348164,-24.52191742362797,NV,3457 Zack Square,Apt. 773,16793-3997,87766177950596441331,Clyde,Mayra
28,New Laurianne,-63.82884564326444,116.43600140040883,WI,70057 O'Keefe Roads,Suite 240,20683,12489887534072365547,Dannie,Aimee
29,Hudsonburgh,-69.29809132686029,-45.748012666858955,TX,271 Odell Turnpike,Suite 657,71491,12489887534072365547,Dannie,Aimee
...,...,...,...,...,...,...,...,...,...,...
22413,South Cullenchester,12.631159070844816,75.45447028291224,SC,432 Lexie Groves,Suite 521,45748-7436,54703704821828676767,Cesar,Bailee
22414,West Ewaldfort,-25.603308779132135,-38.0461504637735,LA,8366 DuBuque Key,Suite 546,55067,52586272052413404321,Josie,Myrl
22415,Mohrbury,62.64373596892514,85.08571494725044,ME,8324 Sabryna Crossing,Apt. 811,26760,52586272052413404321,Josie,Myrl
22416,East Madalynmouth,89.81853196623294,-87.60072329542766,AL,344 Gerlach Branch,Apt. 435,83410-8224,52586272052413404321,Josie,Myrl
22417,Port Rebecahaven,-33.26699639713477,43.86540422775258,OK,408 Edison Manors,Suite 603,30527-7528,51157506582703742741,Shania,Kaleigh
22418,East Norrismouth,29.46565683323155,-175.20002511445128,WA,401 Blanda Fort,Suite 796,59967,68125474664901872227,Sheridan,Domenica
22419,Lake Javonfort,23.843695138013558,-40.560638844743806,KS,19799 Elenora Pine,Apt. 216,70327-6161,68125474664901872227,Sheridan,Domenica
22420,Schoenside,-15.177036814470398,7.975215023389609,NE,3025 Yundt Extension,Apt. 344,50100,68125474664901872227,Sheridan,Domenica
22421,New Ardith,-35.39690712940211,-70.11505860676358,NM,879 Hazle Terrace,Suite 251,86531,11653686656447570414,Yessenia,Gaetano
22422,Sandrineville,76.74807915691656,-62.38967353104991,NH,25097 Terry Crossroad,Apt. 724,27752,11653686656447570414,Yessenia,Gaetano
22423,East Jailyn,-50.46934133519033,169.64362150154523,KS,14733 Lulu River,Apt. 313,29697,11653686656447570414,Yessenia,Gaetano
22424,Eddtown,89.5005906229525,-169.49917729635942,MN,61665 Dickens Squares,Suite 144,50658,37286807935421536604,Kitty,Velma
22425,Port Mariettaside,17.39832400669364,145.95265422300474,CT,815 Daren Garden,Suite 835,46639,84958780385529716247,August,Jeramie
22426,New Sam,1.4181278917870515,-9.43650395687854,NJ,51739 D'Amore Run,Apt. 745,63961,84958780385529716247,August,Jeramie
22427,East Arianeside,51.22778248610666,-139.79933501048328,AL,305 Bechtelar Square,Suite 836,82953-3596,18237532451153392571,Leopoldo,Dominic
22428,Tabithafurt,39.222583742168496,36.687829945461345,VA,6676 Chelsey Glens,Apt. 360,69161,73291346948336413140,Brown,Meggie
22429,Wolfland,-44.16782173630302,-83.51579584549863,IL,41373 Carter Canyon,Suite 933,12512,12745874446123256447,Whitney,Luis
22430,Schultzberg,-76.13525963165453,147.58867451411476,MD,9511 Hoeger Estate,Apt. 826,20548,52605316565885025487,Maiya,Ryleigh
22431,Schusterville,-47.33489160195421,-111.93457928181452,AK,43806 Carlo Grove,Apt. 223,72160-9968,52605316565885025487,Maiya,Ryleigh
22432,New Odessa,-62.056670213939235,138.37172701416011,FL,347 Kautzer Garden,Apt. 716,50542-2678,52605316565885025487,Maiya,Ryleigh
22433,Lynchchester,57.55881162285843,27.373901352588206,RI,111 Hirthe Point,Apt. 568,28942-3270,67073887994871626664,Bulah,Skyla
22434,Wolffville,-66.26779946904054,-43.29011583575149,MA,25675 Raymond Street,Suite 719,63492,67073887994871626664,Bulah,Skyla
22435,Oberbrunnerhaven,40.63791681315723,-114.71021925114668,MS,798 Kyleigh Ways,Suite 477,51837-6404,79538487122854242275,Nash,Coby
22436,Hoppechester,-34.49096254353015,89.86985820849821,SD,9363 Clotilde Underpass,Suite 397,31264-5271,79538487122854242275,Nash,Coby
22437,South Sylvia,-62.43779002527948,-19.343133766940866,MT,2990 Mona Walks,Apt. 121,43594-4979,79538487122854242275,Nash,Coby
22438,Tyriquehaven,-67.173846981953,79.05983728314368,NJ,671 Weimann Brook,Apt. 302,17485,31846358102754904675,Alan,Neil
22439,Madgeside,-71.17771494413563,25.678150110189904,IL,564 Gleason Station,Suite 345,38864-9185,31846358102754904675,Alan,Neil
22440,New Ward,-11.992720139724739,10.522384804094685,IL,993 Jayson Shoals,Suite 434,96675-6018,69445612947443312384,Arlo,Blake
22441,Port Horace,-45.409239846947585,66.80786910622899,NM,459 Martina Forks,Suite 774,80388-1974,69445612947443312384,Arlo,Blake
22442,South Gretchen,-43.66522612272201,-66.05146610935937,OR,18943 Jenkins Meadows,Suite 438,28673-3102,97541207981689217839,Clare,Jensen

In [17]:
raw_data_df

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453
1,Marshall,Cole,18233577393219566041,59944 Adaline Harbor,Apt. 862,Keelingstad,AL,94189-5965
2,Lawson,Lilliana,78792788275411915642,36175 Amina Mount,Apt. 256,North Daija,DE,30997-4476
3,Martine,Kiana,23583155472740817761,188 Walsh Flat,Apt. 891,Yasmeenstad,NV,83568
4,Leatha,Freida,NaN,43796 Gutmann Plains,Suite 341,Vonmouth,FL,10500
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN
6,Granville,Benton,17871640342222098849,95496 Dare Rue,Suite 203,Octaviastad,IL,45294-0751
7,Brenda,Lenna,88137148807320232511,361 Justyn Meadow,Suite 635,Steuberhaven,LA,71148-1931
8,Juliana,Benedict,NaN,798 Katarina Street,Apt. 817,North Florida,RI,10547-0556
9,Marjory,Ulices,13251241236387155567,5356 Hane Mountains,Suite 254,Elmiraborough,NY,80179-1235
10,Celia,Joany,53517451823105334497,NaN,NaN,NaN,NaN,NaN
11,Kathryn,Shany,18615056044429228990,817 Hammes Harbor,Apt. 701,Dickinsonview,CA,97730
12,Isabelle,Nils,41196810585374325420,590 Cummings Union,Apt. 390,Daphneeburgh,IN,56970
13,Johnnie,Johnathon,NaN,541 Nora Hill,Apt. 833,South Erwinborough,UT,24212
14,Madaline,Shirley,34629375530320352466,62088 Krajcik Summit,Apt. 534,Kundechester,WA,30826-4983
15,Khalid,Crystel,82216555626836774716,89133 Schoen Ferry,Apt. 830,Richieland,SC,73060-3948
16,Heather,Tracy,75216887016624818206,NaN,NaN,NaN,NaN,NaN
17,Audra,Imogene,NaN,9228 Rodriguez Knolls,Apt. 544,Jonesside,IN,20864
18,Montana,Dominic,48581605458856137841,622 Reggie Inlet,Apt. 456,Wunschhaven,CO,73178
19,Justice,Jessy,55734468672668247847,75693 Eliseo Burgs,Suite 102,Wittingstad,HI,77848-1360
20,Maryjane,Sasha,53273831484766113262,8210 Romaguera Ridges,Apt. 807,Asiastad,ID,41761-2593
21,Brice,Maximillian,58552116202772184856,779 Macejkovic Avenue,Suite 917,Dannychester,VT,43697
22,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN
23,Deborah,Jolie,72248738248131276601,2744 Kirsten Plaza,Suite 148,Zionburgh,TX,80760
24,Marjory,Harley,85666817362462284195,3238 Freeman Trail,Suite 472,Schustermouth,HI,66696-8707
25,Zita,Yasmin,57219924682871422273,2521 Runolfsdottir Station,Apt. 283,East Annetteville,MD,62342-2411
26,Victoria,Kaleb,NaN,79341 Destin Springs,Apt. 561,Port Norbertohaven,LA,74019
27,Pascale,Ryder,75137145868784228122,NaN,NaN,NaN,NaN,NaN
28,Nella,Sheridan,63158792827720528132,4326 Nitzsche Plaza,Apt. 445,West Luther,NH,31477-1608
29,Albin,Yvette,60813239314886505555,81997 Doug Greens,Apt. 932,North Jayneland,CO,41247-4100
...,...,...,...,...,...,...,...,...
1235,Art,Alejandrin,78791823677627337226,NaN,NaN,NaN,NaN,NaN
1236,Tierra,Quinn,01734158001471915148,82378 Amanda Point,Suite 944,New Samanta,TX,98808
1237,Shania,Alice,26851680110146908993,9576 Caroline Hill,Suite 974,West Chris,AZ,94795-1744
1238,Aisha,Dortha,NaN,9692 Michale Knoll,Suite 862,Reyberg,KY,11438
1239,Geraldine,Junior,16812475474743167993,29188 Turner Flats,Apt. 413,Hayesmouth,SC,47052
1240,Holden,Leon,85231883333620805644,NaN,NaN,NaN,NaN,NaN
1241,Tyra,Benedict,15666128412219616349,2159 Muller Road,Apt. 954,Stefanieland,TX,16290
1242,Wade,Geo,NaN,73224 Brycen Crest,Apt. 797,Russelland,UT,63918-5609
1243,Oscar,Mohammad,72569943054714521155,971 Runolfsson Views,Suite 648,North Lavonne,NE,26071-3426
1244,Geovanni,Coby,67022257323561577850,862 Ernest Haven,Suite 776,Parisianland,AK,22823
1245,Trycia,Gerald,87852185438622118572,NaN,NaN,NaN,NaN,NaN
1246,Payton,Briana,67927006875389289539,4701 Kasey Ports,Suite 522,Lutherburgh,SD,30863
1247,Octavia,Alessandro,NaN,9157 Wolf Drives,Apt. 139,New Dustinville,MI,87034
1248,Keven,Rex,20835255763874961451,7286 Keebler Centers,Suite 964,Kirstenside,SC,54546-3727
1249,Jonathon,Carter,41477047772454684144,26567 Schimmel Springs,Apt. 352,Kassulkeview,TX,91519
1250,Eden,Bonnie,90299473567815437531,855 Daniel Inlet,Apt. 589,Gottliebville,AZ,56150-0192
1251,Faustino,Kaylee,NaN,NaN,NaN,NaN,NaN,NaN
1252,Reuben,Arne,63803857220464706613,218 Glover Parkways,Suite 977,South Uriahborough,CT,50294
1253,Einar,Missouri,16678380905253577683,63186 Herzog Pike,Suite 405,South Merlport,OH,64897-6034
1254,Reta,Daniela,28406129481424315728,65647 Tromp Hollow,Apt. 871,New Betty,KS,74662
1255,Reymundo,Tiara,26886272452725577492,1600 Wilderman Flat,Apt. 555,New Lesterborough,NE,42728
1256,Mara,Hermina,NaN,6086 Lila Loop,Suite 348,Schaefermouth,GA,46278-5364
1257,Clarissa,Felicity,58626307266823047332,NaN,NaN,NaN,NaN,NaN
1258,Gavin,Rita,88336286361567162510,356 Florencio Fort,Suite 295,Abagailburgh,MO,99840
1259,Stanford,Reece,13481236896147722710,325 Darrel Road,Suite 108,North Guadalupe,MT,89063-3313
1260,Zackery,Gillian,11240664612428757450,86907 Metz Gateway,Apt. 469,Pourosfurt,TX,47912-8489
1261,Maye,Lucie,NaN,839 Howe Field,Suite 743,North Jalonmouth,KY,56213-6886
1262,Nolan,Jeffrey,53534201412731144562,452 Unique Curve,Apt. 158,New Adalberto,LA,18997
1263,Cesar,Bailee,54703704821828676767,NaN,NaN,NaN,NaN,NaN
1264,Whitney,Luis,12745874446123256447,41373 Carter Canyon,Suite 933,Wolfland,IL,12512

In [19]:
df_merge_by_full_address(source_unwinded_df, raw_data_df)
df_merge_by_name_and_full_address(source_unwinded_df, raw_data_df)
df_merge_by_npi(source_not_unwinded_df, raw_data_df)

,first_name_x,last_name_x,npi,practices,first_name_y,last_name_y,street,street_2,city,state,zip
0,Marshall,Cole,18233577393219566041,"[{'city': 'Lake Sheila', 'lon': '-71.549823565...",Marshall,Cole,59944 Adaline Harbor,Apt. 862,Keelingstad,AL,94189-5965
1,Lawson,Lilliana,78792788275411915642,"[{'city': 'North Daija', 'lon': '-78.533601299...",Lawson,Lilliana,36175 Amina Mount,Apt. 256,North Daija,DE,30997-4476
2,Martine,Kiana,23583155472740817761,"[{'city': 'Jacquesville', 'lon': '105.33018901...",Martine,Kiana,188 Walsh Flat,Apt. 891,Yasmeenstad,NV,83568
3,Justyn,Abbie,78362387662864903554,"[{'city': 'Hortensetown', 'lon': '27.518097739...",Justyn,Abbie,NaN,NaN,NaN,NaN,NaN
4,Granville,Benton,17871640342222098849,"[{'city': 'Octaviastad', 'lon': '86.2622697806...",Granville,Benton,95496 Dare Rue,Suite 203,Octaviastad,IL,45294-0751
5,Brenda,Lenna,88137148807320232511,"[{'city': 'Lisandrofort', 'lon': '-17.81937107...",Brenda,Lenna,361 Justyn Meadow,Suite 635,Steuberhaven,LA,71148-1931
6,Marjory,Ulices,13251241236387155567,"[{'city': 'Elmiraborough', 'lon': '148.3577743...",Marjory,Ulices,5356 Hane Mountains,Suite 254,Elmiraborough,NY,80179-1235
7,Celia,Joany,53517451823105334497,"[{'city': 'West Rick', 'lon': '68.704357880417...",Celia,Joany,NaN,NaN,NaN,NaN,NaN
8,Isabelle,Nils,41196810585374325420,"[{'city': 'Daphneeburgh', 'lon': '74.280696101...",Isabelle,Nils,590 Cummings Union,Apt. 390,Daphneeburgh,IN,56970
9,Madaline,Shirley,34629375530320352466,"[{'city': 'Kundechester', 'lon': '-0.459013440...",Madaline,Shirley,62088 Krajcik Summit,Apt. 534,Kundechester,WA,30826-4983
10,Khalid,Crystel,82216555626836774716,"[{'city': 'Alanisview', 'lon': '86.86690719575...",Khalid,Crystel,89133 Schoen Ferry,Apt. 830,Richieland,SC,73060-3948
11,Heather,Tracy,75216887016624818206,"[{'city': 'Farrellmouth', 'lon': '27.341768661...",Heather,Tracy,NaN,NaN,NaN,NaN,NaN
12,Montana,Dominic,48581605458856137841,"[{'city': 'Wunschhaven', 'lon': '-98.399456204...",Montana,Dominic,622 Reggie Inlet,Apt. 456,Wunschhaven,CO,73178
13,Justice,Jessy,55734468672668247847,"[{'city': 'East Hoyt', 'lon': '-24.96055711094...",Justice,Jessy,75693 Eliseo Burgs,Suite 102,Wittingstad,HI,77848-1360
14,Maryjane,Sasha,53273831484766113262,"[{'city': 'Asiastad', 'lon': '67.5186960098474...",Maryjane,Sasha,8210 Romaguera Ridges,Apt. 807,Asiastad,ID,41761-2593
15,Deborah,Jolie,72248738248131276601,"[{'city': 'Zionburgh', 'lon': '142.33677657103...",Deborah,Jolie,2744 Kirsten Plaza,Suite 148,Zionburgh,TX,80760
16,Marjory,Harley,85666817362462284195,"[{'city': 'South Toni', 'lon': '173.7603967502...",Marjory,Harley,3238 Freeman Trail,Suite 472,Schustermouth,HI,66696-8707
17,Zita,Yasmin,57219924682871422273,"[{'city': 'East Annetteville', 'lon': '5.81219...",Zita,Yasmin,2521 Runolfsdottir Station,Apt. 283,East Annetteville,MD,62342-2411
18,Pascale,Ryder,75137145868784228122,"[{'city': 'Hayeshaven', 'lon': '110.0269042100...",Pascale,Ryder,NaN,NaN,NaN,NaN,NaN
19,Nella,Sheridan,63158792827720528132,"[{'city': 'West Luther', 'lon': '18.4210369520...",Nella,Sheridan,4326 Nitzsche Plaza,Apt. 445,West Luther,NH,31477-1608
20,Eden,Maximillian,66677748434428271659,"[{'city': 'Aylatown', 'lon': '12.5862315713743...",Eden,Maximillian,5148 Deshaun Meadow,Suite 674,Aylatown,VT,27166
21,Marguerite,Johnathan,72647478424316582314,"[{'city': 'South Mylenebury', 'lon': '52.84233...",Marguerite,Johnathan,40437 Elissa Walks,Suite 289,South Mylenebury,MN,18861
22,Millie,Amani,53407188811357432743,"[{'city': 'Willmsmouth', 'lon': '104.170310673...",Millie,Amani,NaN,NaN,NaN,NaN,NaN
23,Cordell,Delilah,63341530432779774187,"[{'city': 'Emeliaborough', 'lon': '179.5099659...",Cordell,Delilah,877 Joel Landing,Apt. 119,Leannonton,TX,80531-0688
24,Julio,Ervin,37617227435263241609,"[{'city': 'North Cindyfurt', 'lon': '-13.53264...",Julio,Ervin,850 Gilberto Ranch,Apt. 720,Hauckhaven,UT,16619-3264
25,Bonnie,Jocelyn,14388543317747444652,"[{'city': 'Connellyview', 'lon': '-59.82414561...",Bonnie,Jocelyn,79667 Ceasar Garden,Apt. 622,Carmelfurt,WY,12154-5219
26,Elvis,Lenna,14455777372842761255,"[{'city': 'Abdulhaven', 'lon': '-59.0300693963...",Elvis,Lenna,NaN,NaN,NaN,NaN,NaN
27,Freddy,Sally,38054671934598967067,"[{'city': 'West Gerda', 'lon': '159.0441154562...",Freddy,Sally,649 Arvid Spring,Apt. 556,Annabellbury,OH,14846-1237
28,Sincere,Tyree,25045835161649311226,"[{'city': 'East Roslynbury', 'lon': '119.40473...",Sincere,Tyree,77158 Pietro Knoll,Suite 859,Pacochaville,UT,21029-0477
29,Dylan,Shanna,11536413225685215221,"[{'city': 'South Alexandrineborough', 'lon': '...",Dylan,Shanna,976 Steuber River,Apt. 277,South Alexandrineborough,OH,23124-3498
...,...,...,...,...,...,...,...,...,...,...,...
834,Katarina,Jackeline,73533548920121157537,"[{'city': 'Lake Cindyland', 'lon': '-99.920921...",Katarina,Jackeline,529 Abbigail Falls,Apt. 773,Lake Cindyland,TX,33788
835,Anika,Morgan,59684176686341531737,"[{'city': 'West Gabe', 'lon': '-175.7064803993...",Anika,Morgan,3002 Trantow Haven,Suite 175,West Gabe,ND,98835
836,Bryon,Antonia,76269758812721287393,"[{'city': 'Monahanberg', 'lon': '1.06436873628...",Bryon,Antonia,NaN,NaN,NaN,NaN,NaN
837,Keshawn,Hellen,01696467458966739237,"[{'city': 'O'Haraside', 'lon': '-144.889985920...",Keshawn,Hellen,160 Johnpaul Shoal,Apt. 819,O'Haraside,NV,99292-7441
838,Vernice,Missouri,60518549503647168315,"[{'city': 'South Rodger', 'lon': '-169.7847803...",Vernice,Missouri,123 Moises Union,Apt. 427,South Shanelle,TX,64938-1845
839,Quentin,Carey,48584865819838716106,"[{'city': 'West Evertmouth', 'lon': '29.908574...",Quentin,Carey,8395 Savion Spring,Apt. 515,West Evertmouth,CA,69289-3290
840,Raphaelle,Elisa,78351021556837502444,"[{'city': 'Jennyfermouth', 'lon': '80.63493758...",Raphaelle,Elisa,9963 Joy Trail,Suite 459,Jennyfermouth,NJ,49654
841,Miguel,Ottis,36844595112332882473,"[{'city': 'Port Kevon', 'lon': '38.12091008868...",Miguel,Ottis,7362 Rahsaan Points,Suite 216,Port Kevon,OK,49038
842,Audra,Kristoffer,09107685311457653553,"[{'city': 'West Hunter', 'lon': '7.89950066793...",Audra,Kristoffer,42068 Rosemarie Spur,Apt. 810,Strosinville,NE,56423-7242
843,Art,Alejandrin,78791823677627337226,"[{'city': 'Isaacside', 'lon': '-17.62076639260...",Art,Alejandrin,NaN,NaN,NaN,NaN,NaN
844,Tierra,Quinn,01734158001471915148,"[{'city': 'New Samanta', 'lon': '-114.77684052...",Tierra,Quinn,82378 Amanda Point,Suite 944,New Samanta,TX,98808
845,Shania,Alice,26851680110146908993,"[{'city': 'West Chris', 'lon': '-120.424280429...",Shania,Alice,9576 Caroline Hill,Suite 974,West Chris,AZ,94795-1744
846,Geraldine,Junior,16812475474743167993,"[{'city': 'Hayesmouth', 'lon': '-109.695363355...",Geraldine,Junior,29188 Turner Flats,Apt. 413,Hayesmouth,SC,47052
847,Holden,Leon,85231883333620805644,"[{'city': 'South Lillian', 'lon': '73.31033607...",Holden,Leon,NaN,NaN,NaN,NaN,NaN
848,Tyra,Benedict,15666128412219616349,"[{'city': 'Port Brayanfort', 'lon': '169.50300...",Tyra,Benedict,2159 Muller Road,Apt. 954,Stefanieland,TX,16290
849,Oscar,Mohammad,72569943054714521155,"[{'city': 'North Lavonne', 'lon': '26.88514893...",Oscar,Mohammad,971 Runolfsson Views,Suite 648,North Lavonne,NE,26071-3426
850,Geovanni,Coby,67022257323561577850,"[{'city': 'Parisianland', 'lon': '97.572433264...",Geovanni,Coby,862 Ernest Haven,Suite 776,Parisianland,AK,22823
851,Trycia,Gerald,87852185438622118572,"[{'city': 'Lake Lamontview', 'lon': '20.660928...",Trycia,Gerald,NaN,NaN,NaN,NaN,NaN
852,Keven,Rex,20835255763874961451,"[{'city': 'Kirstenside', 'lon': '-26.430613927...",Keven,Rex,7286 Keebler Centers,Suite 964,Kirstenside,SC,54546-3727
853,Jonathon,Carter,41477047772454684144,"[{'city': 'Kassulkeview', 'lon': '-53.28924905...",Jonathon,Carter,26567 Schimmel Springs,Apt. 352,Kassulkeview,TX,91519
854,Eden,Bonnie,90299473567815437531,"[{'city': 'Stefanieberg', 'lon': '125.85118808...",Eden,Bonnie,855 Daniel Inlet,Apt. 589,Gottliebville,AZ,56150-0192
855,Reuben,Arne,63803857220464706613,"[{'city': 'South Uriahborough', 'lon': '-94.00...",Reuben,Arne,218 Glover Parkways,Suite 977,South Uriahborough,CT,50294
856,Reta,Daniela,28406129481424315728,"[{'city': 'West Percival', 'lon': '179.1059710...",Reta,Daniela,65647 Tromp Hollow,Apt. 871,New Betty,KS,74662
857,Reymundo,Tiara,26886272452725577492,"[{'city': 'Sammiefort', 'lon': '-35.1671706223...",Reymundo,Tiara,1600 Wilderman Flat,Apt. 555,New Lesterborough,NE,42728
858,Clarissa,Felicity,58626307266823047332,"[{'city': 'North Amy', 'lon': '28.510929289377...",Clarissa,Felicity,NaN,NaN,NaN,NaN,NaN
859,Gavin,Rita,88336286361567162510,"[{'city': 'Abagailburgh', 'lon': '-132.4776500...",Gavin,Rita,356 Florencio Fort,Suite 295,Abagailburgh,MO,99840
860,Stanford,Reece,13481236896147722710,"[{'city': 'North Guadalupe', 'lon': '-157.3977...",Stanford,Reece,325 Darrel Road,Suite 108,North Guadalupe,MT,89063-3313
861,Nolan,Jeffrey,53534201412731144562,"[{'city': 'New Adalberto', 'lon': '54.45194326...",Nolan,Jeffrey,452 Unique Curve,Apt. 158,New Adalberto,LA,18997
862,Cesar,Bailee,54703704821828676767,"[{'city': 'Jamisonmouth', 'lon': '141.61953590...",Cesar,Bailee,NaN,NaN,NaN,NaN,NaN
863,Whitney,Luis,12745874446123256447,"[{'city': 'Wolfland', 'lon': '-83.515795845498...",Whitney,Luis,41373 Carter Canyon,Suite 933,Wolfland,IL,12512

In [24]:
df_1 = df_merge_by_full_address(source_unwinded_df, raw_data_df)
df_2 = df_merge_by_name_and_full_address(source_unwinded_df, raw_data_df)
df_3 = df_merge_by_npi(source_not_unwinded_df, raw_data_df)

df_12 = pd.merge(df_1, df_2, how="outer",
         on=["street", "street_2", "city", "state", "zip"])

df_3

,first_name_x,last_name_x,npi,practices,first_name_y,last_name_y,street,street_2,city,state,zip
0,Marshall,Cole,18233577393219566041,"[{'city': 'Lake Sheila', 'lon': '-71.549823565...",Marshall,Cole,59944 Adaline Harbor,Apt. 862,Keelingstad,AL,94189-5965
1,Lawson,Lilliana,78792788275411915642,"[{'city': 'North Daija', 'lon': '-78.533601299...",Lawson,Lilliana,36175 Amina Mount,Apt. 256,North Daija,DE,30997-4476
2,Martine,Kiana,23583155472740817761,"[{'city': 'Jacquesville', 'lon': '105.33018901...",Martine,Kiana,188 Walsh Flat,Apt. 891,Yasmeenstad,NV,83568
3,Justyn,Abbie,78362387662864903554,"[{'city': 'Hortensetown', 'lon': '27.518097739...",Justyn,Abbie,NaN,NaN,NaN,NaN,NaN
4,Granville,Benton,17871640342222098849,"[{'city': 'Octaviastad', 'lon': '86.2622697806...",Granville,Benton,95496 Dare Rue,Suite 203,Octaviastad,IL,45294-0751
5,Brenda,Lenna,88137148807320232511,"[{'city': 'Lisandrofort', 'lon': '-17.81937107...",Brenda,Lenna,361 Justyn Meadow,Suite 635,Steuberhaven,LA,71148-1931
6,Marjory,Ulices,13251241236387155567,"[{'city': 'Elmiraborough', 'lon': '148.3577743...",Marjory,Ulices,5356 Hane Mountains,Suite 254,Elmiraborough,NY,80179-1235
7,Celia,Joany,53517451823105334497,"[{'city': 'West Rick', 'lon': '68.704357880417...",Celia,Joany,NaN,NaN,NaN,NaN,NaN
8,Isabelle,Nils,41196810585374325420,"[{'city': 'Daphneeburgh', 'lon': '74.280696101...",Isabelle,Nils,590 Cummings Union,Apt. 390,Daphneeburgh,IN,56970
9,Madaline,Shirley,34629375530320352466,"[{'city': 'Kundechester', 'lon': '-0.459013440...",Madaline,Shirley,62088 Krajcik Summit,Apt. 534,Kundechester,WA,30826-4983
10,Khalid,Crystel,82216555626836774716,"[{'city': 'Alanisview', 'lon': '86.86690719575...",Khalid,Crystel,89133 Schoen Ferry,Apt. 830,Richieland,SC,73060-3948
11,Heather,Tracy,75216887016624818206,"[{'city': 'Farrellmouth', 'lon': '27.341768661...",Heather,Tracy,NaN,NaN,NaN,NaN,NaN
12,Montana,Dominic,48581605458856137841,"[{'city': 'Wunschhaven', 'lon': '-98.399456204...",Montana,Dominic,622 Reggie Inlet,Apt. 456,Wunschhaven,CO,73178
13,Justice,Jessy,55734468672668247847,"[{'city': 'East Hoyt', 'lon': '-24.96055711094...",Justice,Jessy,75693 Eliseo Burgs,Suite 102,Wittingstad,HI,77848-1360
14,Maryjane,Sasha,53273831484766113262,"[{'city': 'Asiastad', 'lon': '67.5186960098474...",Maryjane,Sasha,8210 Romaguera Ridges,Apt. 807,Asiastad,ID,41761-2593
15,Deborah,Jolie,72248738248131276601,"[{'city': 'Zionburgh', 'lon': '142.33677657103...",Deborah,Jolie,2744 Kirsten Plaza,Suite 148,Zionburgh,TX,80760
16,Marjory,Harley,85666817362462284195,"[{'city': 'South Toni', 'lon': '173.7603967502...",Marjory,Harley,3238 Freeman Trail,Suite 472,Schustermouth,HI,66696-8707
17,Zita,Yasmin,57219924682871422273,"[{'city': 'East Annetteville', 'lon': '5.81219...",Zita,Yasmin,2521 Runolfsdottir Station,Apt. 283,East Annetteville,MD,62342-2411
18,Pascale,Ryder,75137145868784228122,"[{'city': 'Hayeshaven', 'lon': '110.0269042100...",Pascale,Ryder,NaN,NaN,NaN,NaN,NaN
19,Nella,Sheridan,63158792827720528132,"[{'city': 'West Luther', 'lon': '18.4210369520...",Nella,Sheridan,4326 Nitzsche Plaza,Apt. 445,West Luther,NH,31477-1608
20,Eden,Maximillian,66677748434428271659,"[{'city': 'Aylatown', 'lon': '12.5862315713743...",Eden,Maximillian,5148 Deshaun Meadow,Suite 674,Aylatown,VT,27166
21,Marguerite,Johnathan,72647478424316582314,"[{'city': 'South Mylenebury', 'lon': '52.84233...",Marguerite,Johnathan,40437 Elissa Walks,Suite 289,South Mylenebury,MN,18861
22,Millie,Amani,53407188811357432743,"[{'city': 'Willmsmouth', 'lon': '104.170310673...",Millie,Amani,NaN,NaN,NaN,NaN,NaN
23,Cordell,Delilah,63341530432779774187,"[{'city': 'Emeliaborough', 'lon': '179.5099659...",Cordell,Delilah,877 Joel Landing,Apt. 119,Leannonton,TX,80531-0688
24,Julio,Ervin,37617227435263241609,"[{'city': 'North Cindyfurt', 'lon': '-13.53264...",Julio,Ervin,850 Gilberto Ranch,Apt. 720,Hauckhaven,UT,16619-3264
25,Bonnie,Jocelyn,14388543317747444652,"[{'city': 'Connellyview', 'lon': '-59.82414561...",Bonnie,Jocelyn,79667 Ceasar Garden,Apt. 622,Carmelfurt,WY,12154-5219
26,Elvis,Lenna,14455777372842761255,"[{'city': 'Abdulhaven', 'lon': '-59.0300693963...",Elvis,Lenna,NaN,NaN,NaN,NaN,NaN
27,Freddy,Sally,38054671934598967067,"[{'city': 'West Gerda', 'lon': '159.0441154562...",Freddy,Sally,649 Arvid Spring,Apt. 556,Annabellbury,OH,14846-1237
28,Sincere,Tyree,25045835161649311226,"[{'city': 'East Roslynbury', 'lon': '119.40473...",Sincere,Tyree,77158 Pietro Knoll,Suite 859,Pacochaville,UT,21029-0477
29,Dylan,Shanna,11536413225685215221,"[{'city': 'South Alexandrineborough', 'lon': '...",Dylan,Shanna,976 Steuber River,Apt. 277,South Alexandrineborough,OH,23124-3498
...,...,...,...,...,...,...,...,...,...,...,...
834,Katarina,Jackeline,73533548920121157537,"[{'city': 'Lake Cindyland', 'lon': '-99.920921...",Katarina,Jackeline,529 Abbigail Falls,Apt. 773,Lake Cindyland,TX,33788
835,Anika,Morgan,59684176686341531737,"[{'city': 'West Gabe', 'lon': '-175.7064803993...",Anika,Morgan,3002 Trantow Haven,Suite 175,West Gabe,ND,98835
836,Bryon,Antonia,76269758812721287393,"[{'city': 'Monahanberg', 'lon': '1.06436873628...",Bryon,Antonia,NaN,NaN,NaN,NaN,NaN
837,Keshawn,Hellen,01696467458966739237,"[{'city': 'O'Haraside', 'lon': '-144.889985920...",Keshawn,Hellen,160 Johnpaul Shoal,Apt. 819,O'Haraside,NV,99292-7441
838,Vernice,Missouri,60518549503647168315,"[{'city': 'South Rodger', 'lon': '-169.7847803...",Vernice,Missouri,123 Moises Union,Apt. 427,South Shanelle,TX,64938-1845
839,Quentin,Carey,48584865819838716106,"[{'city': 'West Evertmouth', 'lon': '29.908574...",Quentin,Carey,8395 Savion Spring,Apt. 515,West Evertmouth,CA,69289-3290
840,Raphaelle,Elisa,78351021556837502444,"[{'city': 'Jennyfermouth', 'lon': '80.63493758...",Raphaelle,Elisa,9963 Joy Trail,Suite 459,Jennyfermouth,NJ,49654
841,Miguel,Ottis,36844595112332882473,"[{'city': 'Port Kevon', 'lon': '38.12091008868...",Miguel,Ottis,7362 Rahsaan Points,Suite 216,Port Kevon,OK,49038
842,Audra,Kristoffer,09107685311457653553,"[{'city': 'West Hunter', 'lon': '7.89950066793...",Audra,Kristoffer,42068 Rosemarie Spur,Apt. 810,Strosinville,NE,56423-7242
843,Art,Alejandrin,78791823677627337226,"[{'city': 'Isaacside', 'lon': '-17.62076639260...",Art,Alejandrin,NaN,NaN,NaN,NaN,NaN
844,Tierra,Quinn,01734158001471915148,"[{'city': 'New Samanta', 'lon': '-114.77684052...",Tierra,Quinn,82378 Amanda Point,Suite 944,New Samanta,TX,98808
845,Shania,Alice,26851680110146908993,"[{'city': 'West Chris', 'lon': '-120.424280429...",Shania,Alice,9576 Caroline Hill,Suite 974,West Chris,AZ,94795-1744
846,Geraldine,Junior,16812475474743167993,"[{'city': 'Hayesmouth', 'lon': '-109.695363355...",Geraldine,Junior,29188 Turner Flats,Apt. 413,Hayesmouth,SC,47052
847,Holden,Leon,85231883333620805644,"[{'city': 'South Lillian', 'lon': '73.31033607...",Holden,Leon,NaN,NaN,NaN,NaN,NaN
848,Tyra,Benedict,15666128412219616349,"[{'city': 'Port Brayanfort', 'lon': '169.50300...",Tyra,Benedict,2159 Muller Road,Apt. 954,Stefanieland,TX,16290
849,Oscar,Mohammad,72569943054714521155,"[{'city': 'North Lavonne', 'lon': '26.88514893...",Oscar,Mohammad,971 Runolfsson Views,Suite 648,North Lavonne,NE,26071-3426
850,Geovanni,Coby,67022257323561577850,"[{'city': 'Parisianland', 'lon': '97.572433264...",Geovanni,Coby,862 Ernest Haven,Suite 776,Parisianland,AK,22823
851,Trycia,Gerald,87852185438622118572,"[{'city': 'Lake Lamontview', 'lon': '20.660928...",Trycia,Gerald,NaN,NaN,NaN,NaN,NaN
852,Keven,Rex,20835255763874961451,"[{'city': 'Kirstenside', 'lon': '-26.430613927...",Keven,Rex,7286 Keebler Centers,Suite 964,Kirstenside,SC,54546-3727
853,Jonathon,Carter,41477047772454684144,"[{'city': 'Kassulkeview', 'lon': '-53.28924905...",Jonathon,Carter,26567 Schimmel Springs,Apt. 352,Kassulkeview,TX,91519
854,Eden,Bonnie,90299473567815437531,"[{'city': 'Stefanieberg', 'lon': '125.85118808...",Eden,Bonnie,855 Daniel Inlet,Apt. 589,Gottliebville,AZ,56150-0192
855,Reuben,Arne,63803857220464706613,"[{'city': 'South Uriahborough', 'lon': '-94.00...",Reuben,Arne,218 Glover Parkways,Suite 977,South Uriahborough,CT,50294
856,Reta,Daniela,28406129481424315728,"[{'city': 'West Percival', 'lon': '179.1059710...",Reta,Daniela,65647 Tromp Hollow,Apt. 871,New Betty,KS,74662
857,Reymundo,Tiara,26886272452725577492,"[{'city': 'Sammiefort', 'lon': '-35.1671706223...",Reymundo,Tiara,1600 Wilderman Flat,Apt. 555,New Lesterborough,NE,42728
858,Clarissa,Felicity,58626307266823047332,"[{'city': 'North Amy', 'lon': '28.510929289377...",Clarissa,Felicity,NaN,NaN,NaN,NaN,NaN
859,Gavin,Rita,88336286361567162510,"[{'city': 'Abagailburgh', 'lon': '-132.4776500...",Gavin,Rita,356 Florencio Fort,Suite 295,Abagailburgh,MO,99840
860,Stanford,Reece,13481236896147722710,"[{'city': 'North Guadalupe', 'lon': '-157.3977...",Stanford,Reece,325 Darrel Road,Suite 108,North Guadalupe,MT,89063-3313
861,Nolan,Jeffrey,53534201412731144562,"[{'city': 'New Adalberto', 'lon': '54.45194326...",Nolan,Jeffrey,452 Unique Curve,Apt. 158,New Adalberto,LA,18997
862,Cesar,Bailee,54703704821828676767,"[{'city': 'Jamisonmouth', 'lon': '141.61953590...",Cesar,Bailee,NaN,NaN,NaN,NaN,NaN
863,Whitney,Luis,12745874446123256447,"[{'city': 'Wolfland', 'lon': '-83.515795845498...",Whitney,Luis,41373 Carter Canyon,Suite 933,Wolfland,IL,12512

In [66]:
c1 = 0
c2 = 0
c3 = 0
def check(row):
    global c1, c2, c3
    
    for record in source_data:
        npi_match = False
        practice_match = False
        if record["doctor"]["npi"] == row["npi"]:
            c1 += 1
            npi_match = True
        for practice in record["practices"]:
            full_address = ["street", "street_2", "city", "state", "zip"]
            if all(practice[x] == row[x] for x in full_address):
                c2 += 1
                practice_match = True
                break
        if practice_match or npi_match:
            c3 += 1
            break

raw_data_df.apply(check, axis = 1)
print(c1, c2, c3)

864 912 1091

If the doctor is matched by full name and address, the practice will match by the address (since it is a subset of the conditions).

Therefore, we only need to see the intersection between the number of documents that don't match by npi and the numbers of documents that don't match by full address, this will be the number of documents that aren't good.

In [86]:
merged_by_npi_df = pd.merge(raw_data_df, source_not_unwinded_df, indicator=True, how="outer", on="npi")
not_matched_by_npi_df = merged_by_npi_df[merged_by_npi_df['_merge'] == 'left_only']
print("Number of documents not matched by npi {}".format(not_matched_by_npi_df.shape[0]))

Number of documents not matched by npi 401

In [87]:
merged_by_address_df = pd.merge(raw_data_df, source_unwinded_df, indicator=True, how="outer", on=["street", "street_2", "city", "state", "zip"])
not_matched_by_address_df = merged_by_address_df[merged_by_address_df['_merge'] == 'left_only']
print("Number of documents not matched by address {}".format(not_matched_by_address_df.shape[0]))

Number of documents not matched by address 353

In [97]:
not_matched_by_npi_df[["first_name_x", "last_name_x", "npi", "street", "street_2", "city", "state", "zip"]].rename(columns = {"first_name_x": "first_name", "last_name_x": "last_name"})

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453
4,Leatha,Freida,NaN,43796 Gutmann Plains,Suite 341,Vonmouth,FL,10500
5,Juliana,Benedict,NaN,798 Katarina Street,Apt. 817,North Florida,RI,10547-0556
6,Johnnie,Johnathon,NaN,541 Nora Hill,Apt. 833,South Erwinborough,UT,24212
7,Audra,Imogene,NaN,9228 Rodriguez Knolls,Apt. 544,Jonesside,IN,20864
8,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN
9,Victoria,Kaleb,NaN,79341 Destin Springs,Apt. 561,Port Norbertohaven,LA,74019
10,Erling,Ellsworth,NaN,72949 Wyman Valley,Suite 721,Shanahanton,MN,41462-4632
11,Floyd,Toney,NaN,133 Kris Corners,Apt. 662,Lake Deon,UT,53630
12,Destiney,Wilson,NaN,191 Jacobs Mill,Apt. 525,Port Sallie,OH,23631
13,Mario,Richard,NaN,NaN,NaN,NaN,NaN,NaN
14,Edgar,Deven,NaN,5645 Earlene Coves,Apt. 744,Muhammadberg,WI,50548
15,Dewitt,Madisen,NaN,7453 Kuhn Flat,Apt. 932,Klingville,NH,35939-7605
16,Kenneth,Tracy,NaN,323 Boyle Roads,Suite 504,Lake Zechariahburgh,OR,73432-0428
17,Koby,Kaley,NaN,188 Wilfredo Lights,Apt. 776,Runolfsdottirton,SC,76728
18,Nichole,Veda,NaN,NaN,NaN,NaN,NaN,NaN
19,Lily,Wilburn,NaN,43274 Scottie Bypass,Apt. 532,Prosaccoville,NM,95544
20,Mario,Amya,NaN,1733 Jacobs Mountain,Suite 326,Antoneview,NC,44829
21,Louvenia,Twila,NaN,5495 Jakubowski Fort,Apt. 184,Port Norafort,TX,73987
22,Monserrat,Ryder,NaN,573 Earnest Prairie,Apt. 468,Katelynhaven,SD,15929
23,Steve,Fausto,NaN,NaN,NaN,NaN,NaN,NaN
24,Christopher,Rusty,NaN,9241 Katelyn Walks,Suite 470,Port Betty,NJ,30608-7467
25,Logan,Brionna,NaN,4987 Della Throughway,Suite 343,Averyton,TN,93281
26,Damian,Jaquan,NaN,206 Abshire Points,Suite 750,New Deron,CT,21082-5969
27,Lauretta,Zechariah,NaN,4696 Dakota Crossing,Apt. 978,South Alfonzo,NE,23804
28,Xander,Neoma,NaN,NaN,NaN,NaN,NaN,NaN
29,Dasia,Else,NaN,59466 Mohr Light,Apt. 723,Emanuelview,KS,32373
30,Chyna,Michaela,NaN,214 Keebler Inlet,Suite 367,Arjunberg,WI,64755-8031
31,Mckenzie,Jayne,NaN,37481 Rodrick Isle,Apt. 827,Port Sydneychester,OK,14973
32,Kale,Taurean,NaN,926 Towne Brook,Suite 387,Binsstad,NV,26093
...,...,...,...,...,...,...,...,...
1007,Lacey,Kelton,63617075957465480655,22892 Nicolas Court,Apt. 885,Lelandstad,PA,51499
1017,Colt,Foster,45718517812902142423,32349 Ryley Mews,Suite 136,South Precious,NC,79928
1029,Jameson,Cordie,25086269276885857815,206 Beahan Passage,Suite 895,Danielchester,AR,66867
1038,Edgardo,Toby,36404641733234746671,74192 Winfield Motorway,Apt. 891,Port Zeldaton,GA,52268
1045,Shakira,Francisco,68565586692773954878,39481 Lemke Freeway,Suite 321,West Annetta,WV,32537
1054,Forrest,Duane,71775449690542881514,568 Tatyana Loaf,Suite 348,Raushire,RI,43678
1064,Sydney,Savanna,20353976574577626422,1243 Fahey Ports,Suite 667,Mathewborough,SD,84433
1071,Evangeline,Jennyfer,21742142407248195218,1995 Lane Ridge,Apt. 356,New Hollie,FL,93272
1084,Johanna,Louie,66775369339428044565,145 Ramona Court,Apt. 249,Jaylinstad,NJ,20456
1091,Precious,Greg,55784087899398614015,258 Prohaska Grove,Apt. 292,Jacobishire,OH,22360
1098,Judy,Hayden,87494583528254313882,8762 Vonrueden Plains,Apt. 538,Raymondmouth,CO,24058
1104,Frankie,Santa,46841105124939385261,4455 Bud Bridge,Apt. 923,West Loraview,GA,66984
1111,Ivory,Furman,42436382461887090811,11554 Brooklyn Forges,Apt. 890,Madisonbury,GA,92644
1125,Jaunita,Christopher,21841154495440664139,53123 Janessa Unions,Suite 653,Lake Devan,WY,51516-1130
1132,Colten,Mandy,45896655716210352578,524 Ericka Wall,Suite 831,Jacksonport,CO,65865
1142,Alejandrin,Cleora,66149852273568174583,6121 Marvin Radial,Apt. 907,Bruenbury,IN,26695
1152,Josephine,Rhoda,33828474963829425666,61483 Reichel Gateway,Apt. 322,North Elizabeth,WY,37824-4096
1159,Helga,Leon,14305547882001736528,69794 Bennett Villages,Apt. 406,Lake Alexzander,MT,21477
1172,Adolph,Mariano,74331487356298770272,164 Reynolds Via,Suite 635,Port Cesar,KY,69603-5481
1179,Celestine,Holden,20558217923813752632,72557 Seamus Stravenue,Apt. 710,Gleasonberg,ME,60687-9202
1187,Bailey,Dillan,42657317821727877054,69952 Antonia Crescent,Suite 629,Kerlukeland,GA,23617-2918
1193,Turner,Eudora,67733706271865418237,40170 Frida Loaf,Apt. 523,Kozeyberg,OR,53891
1202,Jessy,Estrella,62375932791224782185,86793 Lourdes Station,Suite 876,Maraberg,WY,49639
1212,Lisa,Caden,33733826769468204076,6880 Sherman Groves,Apt. 773,Diannaville,KY,39690
1220,Nannie,Juvenal,47934816667761894913,97587 Boris Prairie,Suite 850,Tylerton,PA,85180-7170
1227,Frieda,Halle,20598784761552520257,9700 Jazmin Motorway,Suite 535,South Bridgettestad,WV,75367-3475
1235,Lucious,Yasmine,64385676493097762107,763 Nico Run,Apt. 105,South Ludwig,LA,16262
1250,Payton,Briana,67927006875389289539,4701 Kasey Ports,Suite 522,Lutherburgh,SD,30863
1255,Einar,Missouri,16678380905253577683,63186 Herzog Pike,Suite 405,South Merlport,OH,64897-6034
1261,Zackery,Gillian,11240664612428757450,86907 Metz Gateway,Apt. 469,Pourosfurt,TX,47912-8489

In [98]:
not_matched_by_address_df

,first_name_x,last_name_x,npi_x,street,street_2,city,state,zip,lat,lon,npi_y,first_name_y,last_name_y,_merge
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453,NaN,NaN,NaN,NaN,NaN,left_only
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,Celia,Joany,53517451823105334497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,Heather,Tracy,75216887016624818206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,Pascale,Ryder,75137145868784228122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,Millie,Amani,53407188811357432743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,Elvis,Lenna,14455777372842761255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,Mario,Richard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,Estell,Harvey,34268632282866767982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,Colin,Tyson,85641555627354036243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,Janelle,Alda,70751252862153222461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
16,Nichole,Veda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,Selmer,Tatyana,62166944226746504643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,Percival,Kennith,96816844467518308169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,Lavada,Lupe,14855436163755273300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,Steve,Fausto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,Sabryna,George,15412750423358644086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,Lulu,Glen,58903280102772465415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,Maye,Edwin,22287588043488697879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,Xander,Neoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,Marshall,Shawna,88913181517750245534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,Lester,Seth,22572344054705233851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,Bernardo,Penelope,68284945001639086634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,Marisa,Gertrude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,Myrtie,Vidal,78252385511824852862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,Amelia,Jeramy,09713575331677150777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
31,Candice,Macie,98667557275836748133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
32,Madelynn,Celia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
33,Cydney,Garfield,76762187451983822785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,Jameson,Cordie,25086269276885857815,206 Beahan Passage,Suite 895,Danielchester,AR,66867,NaN,NaN,NaN,NaN,NaN,left_only
1025,Edgardo,Toby,36404641733234746671,74192 Winfield Motorway,Apt. 891,Port Zeldaton,GA,52268,NaN,NaN,NaN,NaN,NaN,left_only
1033,Shakira,Francisco,68565586692773954878,39481 Lemke Freeway,Suite 321,West Annetta,WV,32537,NaN,NaN,NaN,NaN,NaN,left_only
1042,Forrest,Duane,71775449690542881514,568 Tatyana Loaf,Suite 348,Raushire,RI,43678,NaN,NaN,NaN,NaN,NaN,left_only
1053,Sydney,Savanna,20353976574577626422,1243 Fahey Ports,Suite 667,Mathewborough,SD,84433,NaN,NaN,NaN,NaN,NaN,left_only
1061,Evangeline,Jennyfer,21742142407248195218,1995 Lane Ridge,Apt. 356,New Hollie,FL,93272,NaN,NaN,NaN,NaN,NaN,left_only
1069,Samara,Mitchel,35458126372533217887,682 Vincenzo Fort,Suite 454,Macgyverhaven,MD,17136,NaN,NaN,NaN,NaN,NaN,left_only
1074,Johanna,Louie,66775369339428044565,145 Ramona Court,Apt. 249,Jaylinstad,NJ,20456,NaN,NaN,NaN,NaN,NaN,left_only
1081,Precious,Greg,55784087899398614015,258 Prohaska Grove,Apt. 292,Jacobishire,OH,22360,NaN,NaN,NaN,NaN,NaN,left_only
1088,Judy,Hayden,87494583528254313882,8762 Vonrueden Plains,Apt. 538,Raymondmouth,CO,24058,NaN,NaN,NaN,NaN,NaN,left_only
1095,Frankie,Santa,46841105124939385261,4455 Bud Bridge,Apt. 923,West Loraview,GA,66984,NaN,NaN,NaN,NaN,NaN,left_only
1102,Ivory,Furman,42436382461887090811,11554 Brooklyn Forges,Apt. 890,Madisonbury,GA,92644,NaN,NaN,NaN,NaN,NaN,left_only
1117,Jaunita,Christopher,21841154495440664139,53123 Janessa Unions,Suite 653,Lake Devan,WY,51516-1130,NaN,NaN,NaN,NaN,NaN,left_only
1122,Kacey,German,22434910842367773948,336 Mcglynn Valley,Apt. 910,Archibaldshire,NM,71091,NaN,NaN,NaN,NaN,NaN,left_only
1125,Colten,Mandy,45896655716210352578,524 Ericka Wall,Suite 831,Jacksonport,CO,65865,NaN,NaN,NaN,NaN,NaN,left_only
1135,Alejandrin,Cleora,66149852273568174583,6121 Marvin Radial,Apt. 907,Bruenbury,IN,26695,NaN,NaN,NaN,NaN,NaN,left_only
1146,Josephine,Rhoda,33828474963829425666,61483 Reichel Gateway,Apt. 322,North Elizabeth,WY,37824-4096,NaN,NaN,NaN,NaN,NaN,left_only
1154,Helga,Leon,14305547882001736528,69794 Bennett Villages,Apt. 406,Lake Alexzander,MT,21477,NaN,NaN,NaN,NaN,NaN,left_only
1168,Adolph,Mariano,74331487356298770272,164 Reynolds Via,Suite 635,Port Cesar,KY,69603-5481,NaN,NaN,NaN,NaN,NaN,left_only
1175,Celestine,Holden,20558217923813752632,72557 Seamus Stravenue,Apt. 710,Gleasonberg,ME,60687-9202,NaN,NaN,NaN,NaN,NaN,left_only
1183,Bailey,Dillan,42657317821727877054,69952 Antonia Crescent,Suite 629,Kerlukeland,GA,23617-2918,NaN,NaN,NaN,NaN,NaN,left_only
1190,Turner,Eudora,67733706271865418237,40170 Frida Loaf,Apt. 523,Kozeyberg,OR,53891,NaN,NaN,NaN,NaN,NaN,left_only
1199,Jessy,Estrella,62375932791224782185,86793 Lourdes Station,Suite 876,Maraberg,WY,49639,NaN,NaN,NaN,NaN,NaN,left_only
1209,Lisa,Caden,33733826769468204076,6880 Sherman Groves,Apt. 773,Diannaville,KY,39690,NaN,NaN,NaN,NaN,NaN,left_only
1218,Nannie,Juvenal,47934816667761894913,97587 Boris Prairie,Suite 850,Tylerton,PA,85180-7170,NaN,NaN,NaN,NaN,NaN,left_only
1226,Frieda,Halle,20598784761552520257,9700 Jazmin Motorway,Suite 535,South Bridgettestad,WV,75367-3475,NaN,NaN,NaN,NaN,NaN,left_only
1234,Lucious,Yasmine,64385676493097762107,763 Nico Run,Apt. 105,South Ludwig,LA,16262,NaN,NaN,NaN,NaN,NaN,left_only
1249,Payton,Briana,67927006875389289539,4701 Kasey Ports,Suite 522,Lutherburgh,SD,30863,NaN,NaN,NaN,NaN,NaN,left_only
1255,Einar,Missouri,16678380905253577683,63186 Herzog Pike,Suite 405,South Merlport,OH,64897-6034,NaN,NaN,NaN,NaN,NaN,left_only
1261,Zackery,Gillian,11240664612428757450,86907 Metz Gateway,Apt. 469,Pourosfurt,TX,47912-8489,NaN,NaN,NaN,NaN,NaN,left_only

In [84]:
not_matched_by_address_df

,first_name_x,last_name_x,npi_x,street,street_2,city,state,zip,lat,lon,npi_y,first_name_y,last_name_y,_merge
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453,NaN,NaN,NaN,NaN,NaN,left_only
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,Celia,Joany,53517451823105334497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,Heather,Tracy,75216887016624818206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,Pascale,Ryder,75137145868784228122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,Millie,Amani,53407188811357432743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,Elvis,Lenna,14455777372842761255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,Mario,Richard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,Estell,Harvey,34268632282866767982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,Colin,Tyson,85641555627354036243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,Janelle,Alda,70751252862153222461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
16,Nichole,Veda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,Selmer,Tatyana,62166944226746504643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,Percival,Kennith,96816844467518308169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,Lavada,Lupe,14855436163755273300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,Steve,Fausto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,Sabryna,George,15412750423358644086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,Lulu,Glen,58903280102772465415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,Maye,Edwin,22287588043488697879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,Xander,Neoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,Marshall,Shawna,88913181517750245534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,Lester,Seth,22572344054705233851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,Bernardo,Penelope,68284945001639086634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,Marisa,Gertrude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,Myrtie,Vidal,78252385511824852862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,Amelia,Jeramy,09713575331677150777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
31,Candice,Macie,98667557275836748133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
32,Madelynn,Celia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
33,Cydney,Garfield,76762187451983822785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,Jameson,Cordie,25086269276885857815,206 Beahan Passage,Suite 895,Danielchester,AR,66867,NaN,NaN,NaN,NaN,NaN,left_only
1025,Edgardo,Toby,36404641733234746671,74192 Winfield Motorway,Apt. 891,Port Zeldaton,GA,52268,NaN,NaN,NaN,NaN,NaN,left_only
1033,Shakira,Francisco,68565586692773954878,39481 Lemke Freeway,Suite 321,West Annetta,WV,32537,NaN,NaN,NaN,NaN,NaN,left_only
1042,Forrest,Duane,71775449690542881514,568 Tatyana Loaf,Suite 348,Raushire,RI,43678,NaN,NaN,NaN,NaN,NaN,left_only
1053,Sydney,Savanna,20353976574577626422,1243 Fahey Ports,Suite 667,Mathewborough,SD,84433,NaN,NaN,NaN,NaN,NaN,left_only
1061,Evangeline,Jennyfer,21742142407248195218,1995 Lane Ridge,Apt. 356,New Hollie,FL,93272,NaN,NaN,NaN,NaN,NaN,left_only
1069,Samara,Mitchel,35458126372533217887,682 Vincenzo Fort,Suite 454,Macgyverhaven,MD,17136,NaN,NaN,NaN,NaN,NaN,left_only
1074,Johanna,Louie,66775369339428044565,145 Ramona Court,Apt. 249,Jaylinstad,NJ,20456,NaN,NaN,NaN,NaN,NaN,left_only
1081,Precious,Greg,55784087899398614015,258 Prohaska Grove,Apt. 292,Jacobishire,OH,22360,NaN,NaN,NaN,NaN,NaN,left_only
1088,Judy,Hayden,87494583528254313882,8762 Vonrueden Plains,Apt. 538,Raymondmouth,CO,24058,NaN,NaN,NaN,NaN,NaN,left_only
1095,Frankie,Santa,46841105124939385261,4455 Bud Bridge,Apt. 923,West Loraview,GA,66984,NaN,NaN,NaN,NaN,NaN,left_only
1102,Ivory,Furman,42436382461887090811,11554 Brooklyn Forges,Apt. 890,Madisonbury,GA,92644,NaN,NaN,NaN,NaN,NaN,left_only
1117,Jaunita,Christopher,21841154495440664139,53123 Janessa Unions,Suite 653,Lake Devan,WY,51516-1130,NaN,NaN,NaN,NaN,NaN,left_only
1122,Kacey,German,22434910842367773948,336 Mcglynn Valley,Apt. 910,Archibaldshire,NM,71091,NaN,NaN,NaN,NaN,NaN,left_only
1125,Colten,Mandy,45896655716210352578,524 Ericka Wall,Suite 831,Jacksonport,CO,65865,NaN,NaN,NaN,NaN,NaN,left_only
1135,Alejandrin,Cleora,66149852273568174583,6121 Marvin Radial,Apt. 907,Bruenbury,IN,26695,NaN,NaN,NaN,NaN,NaN,left_only
1146,Josephine,Rhoda,33828474963829425666,61483 Reichel Gateway,Apt. 322,North Elizabeth,WY,37824-4096,NaN,NaN,NaN,NaN,NaN,left_only
1154,Helga,Leon,14305547882001736528,69794 Bennett Villages,Apt. 406,Lake Alexzander,MT,21477,NaN,NaN,NaN,NaN,NaN,left_only
1168,Adolph,Mariano,74331487356298770272,164 Reynolds Via,Suite 635,Port Cesar,KY,69603-5481,NaN,NaN,NaN,NaN,NaN,left_only
1175,Celestine,Holden,20558217923813752632,72557 Seamus Stravenue,Apt. 710,Gleasonberg,ME,60687-9202,NaN,NaN,NaN,NaN,NaN,left_only
1183,Bailey,Dillan,42657317821727877054,69952 Antonia Crescent,Suite 629,Kerlukeland,GA,23617-2918,NaN,NaN,NaN,NaN,NaN,left_only
1190,Turner,Eudora,67733706271865418237,40170 Frida Loaf,Apt. 523,Kozeyberg,OR,53891,NaN,NaN,NaN,NaN,NaN,left_only
1199,Jessy,Estrella,62375932791224782185,86793 Lourdes Station,Suite 876,Maraberg,WY,49639,NaN,NaN,NaN,NaN,NaN,left_only
1209,Lisa,Caden,33733826769468204076,6880 Sherman Groves,Apt. 773,Diannaville,KY,39690,NaN,NaN,NaN,NaN,NaN,left_only
1218,Nannie,Juvenal,47934816667761894913,97587 Boris Prairie,Suite 850,Tylerton,PA,85180-7170,NaN,NaN,NaN,NaN,NaN,left_only
1226,Frieda,Halle,20598784761552520257,9700 Jazmin Motorway,Suite 535,South Bridgettestad,WV,75367-3475,NaN,NaN,NaN,NaN,NaN,left_only
1234,Lucious,Yasmine,64385676493097762107,763 Nico Run,Apt. 105,South Ludwig,LA,16262,NaN,NaN,NaN,NaN,NaN,left_only
1249,Payton,Briana,67927006875389289539,4701 Kasey Ports,Suite 522,Lutherburgh,SD,30863,NaN,NaN,NaN,NaN,NaN,left_only
1255,Einar,Missouri,16678380905253577683,63186 Herzog Pike,Suite 405,South Merlport,OH,64897-6034,NaN,NaN,NaN,NaN,NaN,left_only
1261,Zackery,Gillian,11240664612428757450,86907 Metz Gateway,Apt. 469,Pourosfurt,TX,47912-8489,NaN,NaN,NaN,NaN,NaN,left_only