## Reading the JSON

source_data.json has clean normalized data used as the source of the matching.

We need to load it and then we want to make it a pandas DataFrame, as it will make much easier all future data transaction. This is a fixed cost we must pay once for running all the functions.

In [1]:
import json
from pprint import pprint

def extract_source_data(source_file):
    ''' Form a list of dictionaries from a file with a json doc per line''' 
    source_data = []
    with open(source_file) as f:
        for line in f:
            source_data.append(json.loads(line))
    return source_data

source_data = extract_source_data("source_data.json")
pprint(source_data[:2])

[{'doctor': {'first_name': 'Dean',
             'last_name': 'Israel',
             'npi': '85103080143784778415'},
  'practices': [{'city': 'Port Demetris',
                 'lat': '-79.8757664338564',
                 'lon': '84.31253504872467',
                 'state': 'LA',
                 'street': '271 Annabelle Fort',
                 'street_2': 'Apt. 404',
                 'zip': '53549'}]},
 {'doctor': {'first_name': 'Quinton',
             'last_name': 'Mollie',
             'npi': '36233383542350521233'},
  'practices': [{'city': 'Nealville',
                 'lat': '81.37417480720865',
                 'lon': '-95.33450729432164',
                 'state': 'OR',
                 'street': '8496 Kennedi Inlet',
                 'street_2': 'Suite 815',
                 'zip': '52665-6811'},
                {'city': 'Rashadborough',
                 'lat': '69.84837521604314',
                 'lon': '87.36942972635728',
                 'state': 'UT',
                 'street': '29483 Nader Wall',
                 'street_2': 'Apt. 748',
                 'zip': '46006-3437'},
                {'city': 'South Daronland',
                 'lat': '84.90377842497296',
                 'lon': '177.28706015725533',
                 'state': 'AK',
                 'street': '2122 Wintheiser Valleys',
                 'street_2': 'Suite 855',
                 'zip': '99372'}]}]

### Unwinding the json

We want to unwind the practices in order to:

- Look for number of doctors from match_file.csv in which first name, last name and full adress match with the source_data.
- Look for number of practices from match_file.csv in which the full adress match with the source_data.

In [2]:
import pandas as pd
from pandas.io.json import json_normalize

def transform_source_data_unwinding_fields(source_data):
    '''Form a DataFrame from a list of dictionaries. 
    Rename columns to follow name conventions as the csv'''
    fields_to_unwind = ["practices"]
    not_unwinded_fields_path = [["doctor", "first_name"], 
                           ["doctor", "last_name"], 
                           ["doctor", "npi"]]
    not_unwinded_naming_map = {'doctor.first_name':'first_name', 
                               'doctor.last_name':'last_name',
                               'doctor.npi':'npi'}
    return json_normalize(source_data, 
                         fields_to_unwind, 
                         not_unwinded_fields_path).rename(
                             columns = not_unwinded_naming_map)

source_unwinded_df = transform_source_data_unwinding_fields(source_data)
source_unwinded_df.head(8)

,city,lat,lon,state,street,street_2,zip,first_name,last_name,npi
0,Port Demetris,-79.8757664338564,84.31253504872467,LA,271 Annabelle Fort,Apt. 404,53549,Dean,Israel,85103080143784778415
1,Nealville,81.37417480720865,-95.33450729432164,OR,8496 Kennedi Inlet,Suite 815,52665-6811,Quinton,Mollie,36233383542350521233
2,Rashadborough,69.84837521604314,87.36942972635728,UT,29483 Nader Wall,Apt. 748,46006-3437,Quinton,Mollie,36233383542350521233
3,South Daronland,84.90377842497296,177.28706015725533,AK,2122 Wintheiser Valleys,Suite 855,99372,Quinton,Mollie,36233383542350521233
4,West Lonnieberg,52.12502086274685,109.12414094328233,GA,210 Walsh Island,Suite 839,59104,Vincent,Abbie,68951826121607537145
5,Port Angieborough,89.41473074638557,-38.22151510102702,KY,460 Ortiz Points,Suite 609,60776-9928,Vincent,Abbie,68951826121607537145
6,Nyasiaburgh,0.7514069044332956,93.56993517086102,NH,13810 Pfannerstill Pike,Apt. 165,71167-1710,Vincent,Abbie,68951826121607537145
7,Grantborough,78.53231427000821,12.229188372184922,MN,1262 O'Keefe Ford,Apt. 790,39283,Gerardo,Piper,92442805782715742535

We can also find a slightly more complicated version that is more generic, allowing us specify several fields at once to unwind

In [3]:
import pandas as pd
from pandas.io.json import json_normalize

def get_formatted_not_unwinded_fields(source_series, fields_not_to_unwind):
    '''Form a list of lists with the path to the fields inside fields_to_unwind,
    and a dict mapping this path to the subfields 
    
    These are needed in order to use the json_normalize in pandas.io.json.
    
    Example: {"doctor": {"last_name": "Doe", "first_name": "John"}} will return
    -not_unwinded_fields_path = [["doctor", "first_name"], 
                                ["doctor", "last_name"]]
    -not_unwinded_naming_map = {"doctor.first_name": "first_name", 
                                "doctor.last_name": "last_name"}'''
    not_unwinded_fields_path = []
    not_unwinded_naming_map = {}
    for field in source_series:
        if field in fields_not_to_unwind:
            for subfield in source_series[field]:
                not_unwinded_fields_path.append([field, subfield])
                not_unwinded_naming_map["{}.{}".format(field, subfield)] = subfield
    return not_unwinded_fields_path, not_unwinded_naming_map

def transform_source_data_unwinding_fields(source_data, fields_to_unwind, fields_not_to_unwind):
    '''Form a DataFrame from a list of dictionaries. 
    Rename columns to follow name conventions as the csv'''
    if len(source_data) != 0:
        not_unwinded_fields_path, not_unwinded_naming_map = \
            get_formatted_not_unwinded_fields(source_data[0], fields_not_to_unwind)
    else:
        return None
    return json_normalize(source_data, 
                         fields_to_unwind, 
                         not_unwinded_fields_path).rename(
                             columns = not_unwinded_naming_map)

source_unwinded_df = transform_source_data_unwinding_fields(source_data, 
                                                           fields_to_unwind=["practices"], 
                                                           fields_not_to_unwind=["doctor"])
source_unwinded_df.head(8)

,city,lat,lon,state,street,street_2,zip,first_name,last_name,npi
0,Port Demetris,-79.8757664338564,84.31253504872467,LA,271 Annabelle Fort,Apt. 404,53549,Dean,Israel,85103080143784778415
1,Nealville,81.37417480720865,-95.33450729432164,OR,8496 Kennedi Inlet,Suite 815,52665-6811,Quinton,Mollie,36233383542350521233
2,Rashadborough,69.84837521604314,87.36942972635728,UT,29483 Nader Wall,Apt. 748,46006-3437,Quinton,Mollie,36233383542350521233
3,South Daronland,84.90377842497296,177.28706015725533,AK,2122 Wintheiser Valleys,Suite 855,99372,Quinton,Mollie,36233383542350521233
4,West Lonnieberg,52.12502086274685,109.12414094328233,GA,210 Walsh Island,Suite 839,59104,Vincent,Abbie,68951826121607537145
5,Port Angieborough,89.41473074638557,-38.22151510102702,KY,460 Ortiz Points,Suite 609,60776-9928,Vincent,Abbie,68951826121607537145
6,Nyasiaburgh,0.7514069044332956,93.56993517086102,NH,13810 Pfannerstill Pike,Apt. 165,71167-1710,Vincent,Abbie,68951826121607537145
7,Grantborough,78.53231427000821,12.229188372184922,MN,1262 O'Keefe Ford,Apt. 790,39283,Gerardo,Piper,92442805782715742535

### Without unwinding

In case we want to look for number of doctors from match_file.csv in which the npi matches with the source_data, we canot have the unwinding in place for practices.

If we use the unwinded dataframe and N is the length of the list of practices for a doctor where we match the npi, we would have N matches. 

In other usecases not part of the assignment, we would need to be careful when using the unwinded version to not repeat the doctors.

In [4]:
def transform_source_data_without_unwinding(source_data, fields_not_to_unwind):
    '''Form a DataFrame from a list of dictionaries. 
    Rename columns to follow name conventions as the csv'''
    if len(source_data) != 0:
        not_unwinded_naming_map = \
            get_formatted_not_unwinded_fields(source_data[0], fields_not_to_unwind)[1]
    else:
        return None
    
    return json_normalize(source_data).rename(
        columns = not_unwinded_naming_map)

source_not_unwinded_df = transform_source_data_without_unwinding(source_data, ["doctor"])
source_not_unwinded_df.head(8)

,first_name,last_name,npi,practices
0,Dean,Israel,85103080143784778415,"[{'city': 'Port Demetris', 'street_2': 'Apt. 4..."
1,Quinton,Mollie,36233383542350521233,"[{'city': 'Nealville', 'street_2': 'Suite 815'..."
2,Vincent,Abbie,68951826121607537145,"[{'city': 'West Lonnieberg', 'street_2': 'Suit..."
3,Gerardo,Piper,92442805782715742535,"[{'city': 'Grantborough', 'street_2': 'Apt. 79..."
4,Dean,Francesco,83029151715578341587,"[{'city': 'New Fredy', 'street_2': 'Suite 356'..."
5,Marshall,Cole,18233577393219566041,"[{'city': 'Lake Sheila', 'street_2': 'Apt. 314..."
6,Lawson,Lilliana,78792788275411915642,"[{'city': 'North Daija', 'street_2': 'Apt. 256..."
7,Coty,Brad,50391514247237749255,"[{'city': 'West Calistaside', 'street_2': 'Apt..."

## Reading the csv

match_file.csv contains raw source data that needs to be parsed and normalized

In [5]:
import pandas as pd

# match_file.csv: Raw source data that needs to be parsed and normalized.
raw_data_df = pd.read_csv("match_file.csv")

raw_data_df.head(8)

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 glenda islands,suite 163,willport,nj,23453
1,Marshall,Cole,18233577393219566041,59944 adaline harbor,apt. 862,keelingstad,al,94189-5965
2,Lawson,Lilliana,78792788275411915642,36175 amina mount,apt. 256,north daija,de,30997-4476
3,Martine,Kiana,23583155472740817761,188 walsh flat,apt. 891,yasmeenstad,nv,83568
4,Leatha,Freida,NaN,43796 gutmann plains,suite 341,vonmouth,fl,10500
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN
6,Granville,Benton,17871640342222098849,95496 dare rue,suite 203,octaviastad,il,45294-0751
7,Brenda,Lenna,88137148807320232511,361 justyn meadow,suite 635,steuberhaven,la,71148-1931

We can see that there are values that are NaN, so we need to be careful.

In addition, some string fields don't have the appropriate capitalization. Let's fix that.

In [6]:
def transform_match_file(df, fields_to_title_case, fields_to_upper_case):
    '''Change strings of certain DataFrame columns to title case and upper case'''
    for field in fields_to_upper_case:
        df[field] = df[field].apply(lambda x: x.title() if isinstance(x, str) else x)
        
    for field in fields_to_title_case:
        df[field] = df[field].apply(lambda x: x.upper() if isinstance(x, str) else x)    


fields_to_title_case = ["state"]
fields_to_upper_case = ["street", "street_2", "city"]

transform_match_file(raw_data_df, fields_to_title_case, fields_to_upper_case)

raw_data_df.head(8)

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453
1,Marshall,Cole,18233577393219566041,59944 Adaline Harbor,Apt. 862,Keelingstad,AL,94189-5965
2,Lawson,Lilliana,78792788275411915642,36175 Amina Mount,Apt. 256,North Daija,DE,30997-4476
3,Martine,Kiana,23583155472740817761,188 Walsh Flat,Apt. 891,Yasmeenstad,NV,83568
4,Leatha,Freida,NaN,43796 Gutmann Plains,Suite 341,Vonmouth,FL,10500
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN
6,Granville,Benton,17871640342222098849,95496 Dare Rue,Suite 203,Octaviastad,IL,45294-0751
7,Brenda,Lenna,88137148807320232511,361 Justyn Meadow,Suite 635,Steuberhaven,LA,71148-1931

# RESULTS

## Doctor Match by NPI

We do an inner join on the npis from the two dataframes, getting only the docs that have the same npis.

The merge is O(M+N), if M is the number of rows in the json and N is the number of rows in the csv. 

Therefore, the total number of documents scanned is 2 * O(N+M) (so O(N+M)) 

- I scan everything for creating the DataFrames O(N+M)
- I scan O(N+M) documents for doing the merging.

In [7]:
def number_of_doctor_matches_by_npi(left_df, right_df):
    '''Return the number of doctor matches by npi.
    This is done through the inner merge of two dataframes on the key npi.
    The number of rows is the number of matches'''
    return pd.merge(left_df, right_df, how="inner", on="npi").shape[0]
    
print("Number of matches: {}".format(
    number_of_doctor_matches_by_npi(source_not_unwinded_df, raw_data_df)))

Number of matches: 864

In [8]:
import timeit

time_to_run_100 = timeit.timeit(
    'number_of_doctor_matches_by_npi(source_not_unwinded_df, raw_data_df)', 
    setup="from __main__ import number_of_doctor_matches_by_npi, source_not_unwinded_df, raw_data_df", 
    number=100)

print("Time to run number_of_doctor_matches_by_npi once {}".format(time_to_run_100/100))

Time to run number_of_doctor_matches_by_npi once 0.005226856389999739

We need to take into account that we are also transforming the data in order to do this that fast (although we only need to it once for similar operations). This operation is much, much slower:

In [9]:
time_to_run_100 = timeit.timeit(
    'transform_source_data_without_unwinding(source_data, ["practices"])', 
    setup="from __main__ import transform_source_data_without_unwinding, source_data", 
    number=100)

print("Time to transform the data without unwinding once {}".format(time_to_run_100/100))

Time to transform the data without unwinding once 0.6310522743200272

If our only intereset was this part of the assignment, we don't need to do the processing of the json. If we extract the npis in the json and use a set to store them, the resulting function is 2 orders of magnitude faster.

In [10]:
def number_of_matches_by_npi(source_data, raw_data_df):
    '''Return the number of doctor matches by npi.
    -First extract all the npis from the json, and 
    insert them in a test for fast lookup (O(1) on average).
    -Sum the number of elements in the raw df whose npi is in the set'''
    source_npis = {x["doctor"]["npi"] for x in source_data}
    return raw_data_df["npi"].apply(lambda x: x in source_npis).sum()

number_of_matches_by_npi(source_data, raw_data_df)

864

In [11]:
time_to_run_100 = timeit.timeit(
    'number_of_matches_by_npi(source_data, raw_data_df)', 
    setup="from __main__ import number_of_matches_by_npi, source_data, raw_data_df", 
    number=100)

print("Time to run number_of_matches_by_npi (set implementation) once {}".format(
    time_to_run_100/100))

Time to run number_of_matches_by_npi (set implementation) once 0.007534609550020832

## Doctor Match by first name, last name and full adress

We do an inner join on the first name, the last name and the full address from the two dataframes, getting only the docs that have the same.

The merge is O(M+N), if M is the number of rows in the json and N is the number of rows in the csv. 

Therefore, the total number of documents scanned is 2 * O(N+M) (so O(N+M)) 

- We scan everything for creating the DataFrames O(N+M)
- We scan O(N+M) documents for doing the merging.

In [12]:
def number_of_doctor_matches_by_name_and_full_address(left_df, right_df):
    '''Return the number of doctor matches by 
    first_name, last_name, street, street_2, city, state and zip.
    This is done through the inner merge of two dataframes on said keys.
    The number of rows is the number of matches'''
    return pd.merge(left_df, 
                    right_df, 
                    how="inner", 
                    on=["first_name", "last_name", "street", 
                        "street_2", "city", "state", "zip"]).shape[0]


print("Number of matches by name and address: {}".format(
    number_of_doctor_matches_by_name_and_full_address(source_unwinded_df, raw_data_df)))

Number of matches by name and address: 912

In [13]:
time_to_run_100 = timeit.timeit(
    'number_of_doctor_matches_by_name_and_full_address(source_unwinded_df, raw_data_df)', 
    setup="from __main__ import number_of_doctor_matches_by_name_and_full_address, \
        source_unwinded_df, raw_data_df", 
    number=100)

print("Time to run number_of_doctor_matches_by_name_and_full_address once {}".format(
    time_to_run_100/100))

Time to run number_of_doctor_matches_by_name_and_full_address once 0.024520256890027667

Similarly, we need to take into account the time it took to do the transformation. However, this time to do the transformation should be shared between this and getting the number of practice matches by full address.

In [14]:
time_to_run_100 = timeit.timeit(
    'transform_source_data_unwinding_fields(source_data, \
        fields_to_unwind=["practices"], \
        fields_not_to_unwind=["doctor"])', 
    setup="from __main__ import transform_source_data_unwinding_fields, source_data", 
    number=100)

print("Time to run transform_source_data_unwinding_fields once {}".format(time_to_run_100/100))

Time to run transform_source_data_unwinding_fields once 0.1258921552299944

## Practice Match by full address

Very similar to the previous case, but we do an inner join only on the full address from the two dataframes, getting only the docs that have the same full address. 

The number of documents scanned will be similar, O(N+M) - although a little bit less because we are doing joins in two fields less. This can also be noted in the time it takes to run one function and the other (around 5 times less for number_of_practices_by_full_address)

In [15]:
def number_of_practices_by_full_address(left_df, right_df):
    '''Return the number of practices matches by 
    street, street_2, city, state and zip.
    This is done through the inner merge of two dataframes on said keys.
    The number of rows is the number of matches'''
    return pd.merge(left_df, 
                    right_df, 
                    how="inner", 
                    on=["street", "street_2", "city", "state", "zip"]).shape[0]
    
print("Number of matches: {}".format(
    number_of_practices_by_full_address(source_unwinded_df, raw_data_df)))

Number of matches: 912

In [16]:
time_to_run_100 = timeit.timeit(
    'number_of_practices_by_full_address(source_unwinded_df, raw_data_df)', 
    setup="from __main__ import number_of_practices_by_full_address, \
                                                source_unwinded_df,\
                                                raw_data_df", 
    number=100)

print("Time to run number_of_practices_by_full_address once {}".format(
    time_to_run_100/100))

Time to run number_of_practices_by_full_address once 0.019544280260015513

## Number of documents that could not be matched

The assumption is that the problem statement talks about the number of rows from the match_file.csv that could not be matched in source_data.json by none of the criteria above.

If the doctor is matched by full name and address, the practice will match by the address (since it is a subset of the conditions).

Therefore, we only need to see the intersection between the number of documents that don't match by npi and the numbers of documents that don't match by full address, this will be the number of documents that do not produce a match.

For the number of documents that don't match by doctor's npi, we can do an outer merge on the npi between the dataframes from the source data and from the data to match, with an indicator that will indicate if the npi column was found on one of the two dataframes or on both.

The rows of the merged table that were only in the data to match (raw_data_df) are the rows with the npis that did not match from the raw_data_df (with some extra columns and some columns named in a slightly different way due to the merge). Therefore, if we take those rows, and those columns, we will have a df that is exactly the original raw_data_df, minus the matches.

In [17]:
merged_by_npi_df = pd.merge(raw_data_df, 
                            source_not_unwinded_df, 
                            indicator=True, 
                            how="outer", 
                            on="npi")
not_matched_by_npi_df = merged_by_npi_df[merged_by_npi_df['_merge'] == 'left_only']
print("Number of documents not matched by npi {}".format(not_matched_by_npi_df.shape[0]))

Number of documents not matched by npi 401

In [18]:
selected_columns = ["first_name_x", 
                    "last_name_x", 
                    "npi", 
                    "street",
                    "street_2", 
                    "city", 
                    "state", 
                    "zip"]
column_rename_map = {"first_name_x": "first_name", "last_name_x": "last_name"}
not_matched_by_npi_df = not_matched_by_npi_df[selected_columns].rename(columns = 
                                                                       column_rename_map)

not_matched_by_npi_df.head(8)

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453
4,Leatha,Freida,NaN,43796 Gutmann Plains,Suite 341,Vonmouth,FL,10500
5,Juliana,Benedict,NaN,798 Katarina Street,Apt. 817,North Florida,RI,10547-0556
6,Johnnie,Johnathon,NaN,541 Nora Hill,Apt. 833,South Erwinborough,UT,24212
7,Audra,Imogene,NaN,9228 Rodriguez Knolls,Apt. 544,Jonesside,IN,20864
8,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN
9,Victoria,Kaleb,NaN,79341 Destin Springs,Apt. 561,Port Norbertohaven,LA,74019
10,Erling,Ellsworth,NaN,72949 Wyman Valley,Suite 721,Shanahanton,MN,41462-4632

Same could be said about the number of documents that don't match by practice's full address, although the outer merge is done on the practice's full address instead of just the npi.

In [19]:
merged_by_address_df = pd.merge(raw_data_df, 
                                source_unwinded_df, 
                                indicator=True, 
                                how="outer", 
                                on=["street", "street_2", "city", "state", "zip"])
not_matched_by_address_df = merged_by_address_df[merged_by_address_df['_merge'] == 'left_only']
print("Number of documents not matched by address {}".format(not_matched_by_address_df.shape[0]))

Number of documents not matched by address 353

In [20]:
selected_columns = ["first_name_x", 
                    "last_name_x", 
                    "npi_x", 
                    "street", 
                    "street_2", 
                    "city", 
                    "state", 
                    "zip"]
column_rename_map = {"first_name_x": "first_name", "last_name_x": "last_name", "npi_x": "npi"}

not_matched_by_address_df = not_matched_by_address_df[selected_columns].rename(columns = 
                                                                               column_rename_map)
not_matched_by_address_df.head(8)

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453
5,Justyn,Abbie,78362387662864903554,NaN,NaN,NaN,NaN,NaN
6,Celia,Joany,53517451823105334497,NaN,NaN,NaN,NaN,NaN
7,Heather,Tracy,75216887016624818206,NaN,NaN,NaN,NaN,NaN
8,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN
9,Pascale,Ryder,75137145868784228122,NaN,NaN,NaN,NaN,NaN
10,Millie,Amani,53407188811357432743,NaN,NaN,NaN,NaN,NaN
11,Elvis,Lenna,14455777372842761255,NaN,NaN,NaN,NaN,NaN

If we now do an inner merge on both resulting dataframes (not_matched_by_npi_df and not_matched_by_address_df) on all columns, we will have the documents that did not match in any of the cases.

In [21]:
documents_not_matched_df = pd.merge(not_matched_by_npi_df, 
                                    not_matched_by_address_df, 
                                    how="inner", 
                                    on=list(not_matched_by_npi_df.columns))
print("Total number of documents not matched {}".format(documents_not_matched_df.shape[0]))
documents_not_matched_df.head(8)

Total number of documents not matched 174

,first_name,last_name,npi,street,street_2,city,state,zip
0,Ruthe,Laverne,44843147983186317848,569 Glenda Islands,Suite 163,Willport,NJ,23453
1,Sylvia,Obie,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario,Richard,NaN,NaN,NaN,NaN,NaN,NaN
3,Nichole,Veda,NaN,NaN,NaN,NaN,NaN,NaN
4,Steve,Fausto,NaN,NaN,NaN,NaN,NaN,NaN
5,Xander,Neoma,NaN,NaN,NaN,NaN,NaN,NaN
6,Marisa,Gertrude,NaN,NaN,NaN,NaN,NaN,NaN
7,Madelynn,Celia,NaN,NaN,NaN,NaN,NaN,NaN

If we make this logic into a function and then proceed to timeit:

In [22]:
def number_of_documents_not_matched_by_doctors_npi(raw_data_df, source_not_unwinded_df):
    '''Return the number of documents not matched by doctor's npi'''
    merged_by_npi_df = pd.merge(raw_data_df, 
                                source_not_unwinded_df, 
                                indicator=True, 
                                how="outer", 
                                on="npi")
    #choose only the elements that did not match from the raw_data_df
    not_matched_by_npi_df = merged_by_npi_df[merged_by_npi_df['_merge'] == 'left_only']
    selected_columns_npi_df = ["first_name_x", 
                               "last_name_x",  
                               "npi", 
                               "street", 
                               "street_2", 
                               "city", 
                               "state", 
                               "zip"]
    column_rename_map_npi_df = {"first_name_x": "first_name", 
                                "last_name_x": "last_name"}
    not_matched_by_npi_df = not_matched_by_npi_df[selected_columns_npi_df]
    return not_matched_by_npi_df.rename(columns = column_rename_map_npi_df)


def number_of_documents_not_matched_by_practices_npi(raw_data_df, source_unwinded_df):
    '''Return the number of documents not matched by practice's full address'''
    merged_by_address_df = pd.merge(raw_data_df, 
                                    source_unwinded_df, 
                                    indicator=True, 
                                    how="outer", 
                                    on=["street", "street_2", "city", "state", "zip"])
    not_matched_by_address_df = merged_by_address_df[merged_by_address_df['_merge'] == 'left_only']
    selected_columns_address_df = ["first_name_x", 
                                   "last_name_x", 
                                   "npi_x", 
                                   "street", 
                                   "street_2", 
                                   "city", 
                                   "state", 
                                   "zip"]
    column_rename_map_address_df = {"first_name_x": "first_name", 
                                    "last_name_x": "last_name", 
                                    "npi_x": "npi"}
    not_matched_by_address_df = not_matched_by_address_df[selected_columns_address_df]
    return not_matched_by_address_df.rename(columns = column_rename_map_address_df)

def number_of_documents_not_matched(raw_data_df, source_unwinded_df, source_not_unwinded_df):
    '''Return the number of documents not matched by
    - Doctor's npi
    - Doctor's name and full address
    - Practice's full adress'''
    
    not_matched_by_npi_df = number_of_documents_not_matched_by_doctors_npi(raw_data_df, 
                                                                           source_not_unwinded_df)
    
    not_matched_by_address_df = number_of_documents_not_matched_by_practices_npi(raw_data_df, 
                                                                                 source_unwinded_df)
    
    return pd.merge(not_matched_by_npi_df, 
                    not_matched_by_address_df, 
                    how="inner", 
                    on=list(not_matched_by_npi_df.columns)).shape[0]

print("Return total number of documents not matched {}".format(
    number_of_documents_not_matched(raw_data_df, source_unwinded_df, source_not_unwinded_df)))

Return total number of documents not matched 174

In [23]:
time_to_run_100 = timeit.timeit(
    'number_of_documents_not_matched(raw_data_df, source_unwinded_df, source_not_unwinded_df)', 
    setup="from __main__ import \
        number_of_documents_not_matched, raw_data_df, source_unwinded_df, source_not_unwinded_df", 
    number=100)

print("Time to run number_of_documents_not_matched once {}".format(
    time_to_run_100/100))

Time to run number_of_documents_not_matched once 0.08916821063998213

The total number of documents scanned is:

- O(N+M) for the first merge + O(N+M) for getting only only the unmatched documents.
- O(N+M) for the second merge + O(N+M) for getting only only the unmatched documents.
- O(N+N) for the third merge (as the tables will be smaller or equal than the one in the csv)

Therefore, O(N+M) documents scanned.

(Remember that M is the number of rows in the json and N is the number of rows in the csv)

Notice that with a small modification we could also get the total number of documents matched on doctor's npi and on practice's full address, not needing the solution we proposed before, just by doing:

``` number of matches = number of rows in the csv - number of rows in the df with the documents that did not match ```

With this we arrive to the final solution.

## Final solution

In [24]:
def full_solution(match_file_path, source_file_path):
    ''' Returns:
    - Number of documents matched by doctor's npi
    - Number of documents matched by doctor's name and full address
    - Number of documents matched by practice's full adress
    - Number of documents not matched
    '''
    result = {}
    
    # Extract and transform the source data
    source_data = extract_source_data(source_file_path)
    source_unwinded_df = transform_source_data_unwinding_fields(source_data, 
                                                               fields_to_unwind=["practices"], 
                                                               fields_not_to_unwind=["doctor"])
    source_not_unwinded_df = transform_source_data_without_unwinding(source_data, ["doctor"])
    
    #Extract and transform the data to match
    raw_data_df = pd.read_csv(match_file_path)
    transform_match_file(raw_data_df, 
                         fields_to_title_case = ["state"], 
                         fields_to_upper_case = ["street", "street_2", "city"])

    #Get the df with the elements of the raw_data_df not matched by doctor's npi
    not_matched_by_npi_df = number_of_documents_not_matched_by_doctors_npi(raw_data_df, 
                                                                           source_not_unwinded_df)
    #Get the doctor matches by doctor's npi
    result["Npi Match"] = raw_data_df.shape[0] - not_matched_by_npi_df.shape[0]
    
    #Get the df with the elements of the raw_data_df not matched by practice's address
    not_matched_by_address_df = number_of_documents_not_matched_by_practices_npi(raw_data_df, 
                                                                                 source_unwinded_df)
    #Get the practice matches by full address
    result["Address Match"] = raw_data_df.shape[0] - not_matched_by_address_df.shape[0]

    #Get the matches by doctor's name and practice's address
    result["Name And Address Match"] = \
        number_of_doctor_matches_by_name_and_full_address(source_unwinded_df, raw_data_df)
    
    #Get the number of documents that weren't matched according to any criteria
    result["Documents Not Matched"] = pd.merge(not_matched_by_npi_df, 
                                               not_matched_by_address_df, 
                                               how="inner", 
                                               on=list(not_matched_by_npi_df.columns)).shape[0]
    return result


full_solution('match_file.csv', 'source_data.json')

{'Address Match': 912,
 'Documents Not Matched': 174,
 'Name And Address Match': 912,
 'Npi Match': 864}

In [25]:
time_to_run_100 = timeit.timeit(
    "full_solution('match_file.csv', 'source_data.json')", 
    setup="from __main__ import full_solution", 
    number=100)

print("Time to run full_solution once {}".format(time_to_run_100/100))

Time to run full_solution once 0.9997819791299843

# Brute force approach 

We can also do all of this by brute force, but it is much much slower. However, it will be left here as a sanity check. **It does not follow good coding conventions because it is not intended to be part of the final solution, just a check**.

It takes about 4 minutes (245 seconds) in my machine, which compared to the second it takes to run the non-brute force approach, is 2 orders of magnitude.

In [26]:
def check_row_for_matches(df_row, result, source_data):
    '''Check if dataframe row (series) has any match in the source data'''
    for record in source_data:
        npi_match = False
        practice_match = False
        if record["doctor"]["npi"] == df_row["npi"]:
            result["Npi Match"] += 1
            npi_match = True
        for practice in record["practices"]:
            full_address = ["street", "street_2", "city", "state", "zip"]
            if all(practice[x] == df_row[x] for x in full_address):
                result["Address Match"] += 1
                practice_match = True
                if record["doctor"]["first_name"] == df_row["first_name"] and \
                    record["doctor"]["first_name"] == df_row["first_name"]:
                        result["Name And Address Match"] += 1
                break
        if npi_match or practice_match:
            result["Documents Not Matched"] -= 1
            break
    return result

def brute_force_approach(match_file_path, source_file_path):    
    # Extract the source data
    source_data = extract_source_data(source_file_path)
    
    #Extract and transform the data to match
    raw_data_df = pd.read_csv(match_file_path)
    transform_match_file(raw_data_df, 
                         fields_to_title_case = ["state"], 
                         fields_to_upper_case = ["street", "street_2", "city"])

    result = {
        "Npi Match": 0,
        "Address Match": 0,
        "Name And Address Match": 0,
        "Documents Not Matched": raw_data_df.shape[0]
    }
    
    raw_data_df.apply(check_row_for_matches, args=(result, source_data), axis = 1)
    return result

brute_force_approach("match_file.csv", "source_data.json")

{'Address Match': 912,
 'Documents Not Matched': 174,
 'Name And Address Match': 912,
 'Npi Match': 864}

In [27]:
time_to_run_1 = timeit.timeit(
    'brute_force_approach("match_file.csv", "source_data.json")', 
    setup="from __main__ import brute_force_approach", 
    number=1)

print("Time to run brute_force_approach once {}".format(time_to_run_1))

Time to run brute_force_approach once 246.68699994200142